.group-child103 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  border: 2px solid var(--color-gray);
  box-sizing: border-box;
  width: 1440px;
  height: 345px;
}
.v-chng-ti31 {
  letter-spacing: 0.01em;
}
.v-chng-ti30 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.website-chnh-thc15 {
  margin: 0;
  font-size: var(--font-size-lgi);
  letter-spacing: -0.01em;
  line-height: 121.06%;
  font-weight: 300;
}
.v-chng-ti-container15 {
  position: absolute;
  top: 53px;
  left: 55px;
  color: var(--color-black);
  display: inline-block;
  width: 371px;
  height: 292px;
  font-size: var(--font-size-6xl);
}
.thng-tin31 {
  margin-block-start: 0;
  margin-block-end: 11px;
}
.thng-tin30 {
  position: absolute;
  top: 53px;
  left: 725px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  color: var(--color-black);
  width: 350px;
  height: 40px;
}
.blank-line263 {
  margin-block-start: 0;
  margin-block-end: 2px;
  font-size: var(--font-size-lgi);
}
.mi-thc-mc15 {
  font-weight: 300;
}
.fanpage-v-instagram30 {
  margin: 0;
}
.mi-thc-mc-container15 {
  position: absolute;
  top: 58px;
  left: 990px;
  letter-spacing: 0.03em;
  line-height: 121.25%;
  color: var(--color-black);
  display: inline-block;
  width: 395px;
  height: 296px;
  font-size: var(--font-size-6xl);
}
.blank-line264 {
  margin: 0;
  font-size: var(--font-size-8xl);
  font-weight: 300;
}
.danh-mc-sn-container15,
.h-tr15 {
  position: absolute;
  top: 53px;
  left: 418px;
  color: var(--color-black);
  display: inline-block;
  width: 350px;
  height: 40px;
  font-size: var(--font-size-6xl);
}
.h-tr15 {
  left: 993px;
}
.o-ba-l64 {
  margin-bottom: 10px;
}
.o-ba-l63 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-ba-l-container30 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  display: inline-block;
  width: 302px;
  height: 35px;
}
.frame-wrapper197,
.o-ba-l-wrapper21 {
  position: absolute;
  top: 0;
  left: -9px;
  width: 111px;
  height: 26px;
  overflow: hidden;
}
.frame-wrapper197 {
  top: 145px;
  left: 426px;
  width: 108px;
}
.frame-wrapper198,
.lu-nim-mixi-wrapper21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 198px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper198 {
  top: 187px;
  left: 417px;
  width: 193px;
  cursor: pointer;
}
.frame-wrapper199,
.o-refund-gaming-wrapper21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 214px;
  height: 28px;
  overflow: hidden;
}
.frame-wrapper199 {
  top: 229px;
  left: 417px;
  cursor: pointer;
}
.frame-wrapper200,
.o-csgo-wrapper21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 123px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper200 {
  top: 271px;
  left: 417px;
  cursor: pointer;
}
.chnh-sch-bo-container15,
.gii-thiu30,
.iu-khon30,
.o-mixi73,
.sitemap30 {
  position: absolute;
  top: 103px;
  left: 717px;
  font-weight: 300;
  display: inline-block;
  width: 295px;
  height: 35px;
}
.chnh-sch-bo-container15,
.iu-khon30,
.o-mixi73,
.sitemap30 {
  top: 145px;
}
.iu-khon30,
.o-mixi73,
.sitemap30 {
  top: 187px;
}
.o-mixi73,
.sitemap30 {
  top: 229px;
}
.o-mixi73 {
  top: 0;
  left: 0;
  width: 114px;
  cursor: pointer;
}
.frame-wrapper201,
.o-mixi-wrapper21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper201 {
  top: 103px;
  left: 418px;
}
.upward-arrow-icon15 {
  position: absolute;
  top: 271px;
  left: 1360px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}
.chi-tit-o-ba-l-inner4,
.frame-wrapper195,
.rectangle-parent101 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 354px;
}
.chi-tit-o-ba-l-inner4,
.frame-wrapper195 {
  height: 345px;
  overflow: hidden;
}
.chi-tit-o-ba-l-inner4 {
  top: 1674px;
  font-size: var(--font-size-2xl);
  color: var(--color-teal-200);
  font-family: var(--font-inter);
}
.chi-tit-o-ba-l-child51 {
  position: absolute;
  top: 183px;
  left: 106px;
  width: 537px;
  height: 805px;
  object-fit: cover;
}
.b23,
.o-3-l7 {
  position: absolute;
  top: 176px;
  left: 747px;
  font-size: var(--font-size-9xl);
  display: flex;
  align-items: center;
  width: 260px;
  height: 50px;
}
.b23 {
  top: 302px;
  width: 564px;
}
.chi-tit-o-ba-l-child52 {
  position: absolute;
  top: 239px;
  left: 746px;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 99px;
  height: 2px;
}
.bng-size-chi5,
.nh-gi-ca10 {
  position: absolute;
  left: 747px;
  display: flex;
  align-items: center;
  height: 34px;
}
.nh-gi-ca10 {
  top: 254px;
  color: var(--color-teal-200);
  width: 260px;
}
.bng-size-chi5 {
  top: 366px;
  width: 139px;
}
.danh-mc5 {
  top: 954px;
  left: 747px;
  width: 89px;
}
.danh-mc5,
.o-ba-l65,
.size-ba-l5 {
  position: absolute;
  display: flex;
  align-items: center;
  height: 34px;
}
.o-ba-l65 {
  top: 954px;
  left: 842px;
  color: var(--color-teal-200);
  width: 89px;
  cursor: pointer;
}
.size-ba-l5 {
  top: 808px;
  left: 747px;
  width: 105px;
}
.size-3-lo-1400x800-1-icon5 {
  position: absolute;
  top: 414px;
  left: 747px;
  width: 610px;
  height: 370px;
  object-fit: cover;
}
.group-child104 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-4xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-teal-200);
  box-sizing: border-box;
  width: 91px;
  height: 33px;
}
.m5 {
  position: absolute;
  top: 3px;
  left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 26px;
}
.rectangle-parent102,
.rectangle-parent103,
.rectangle-parent104 {
  position: absolute;
  top: 808px;
  left: 935px;
  width: 91px;
  height: 33px;
  text-align: center;
}
.rectangle-parent103,
.rectangle-parent104 {
  left: 1046px;
}
.rectangle-parent104 {
  left: 1157px;
}
.chi-tit-o-ba-l-child53 {
  position: absolute;
  top: 874px;
  left: 747px;
  border-radius: var(--br-lgi-5);
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 103px;
  height: 39px;
}
.chi-tit-o-ba-l-child54,
.chi-tit-o-ba-l-child55 {
  position: absolute;
  top: 873.5px;
  left: 770.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 40px;
}
.chi-tit-o-ba-l-child55 {
  left: 825.5px;
}
.b24,
.b25,
.b26 {
  position: absolute;
  top: 879px;
  left: 754px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 30px;
}
.b25,
.b26 {
  left: 827px;
}
.b26 {
  left: 790px;
}
.chi-tit-o-ba-l-child56,
.thm-vo-gi5 {
  position: absolute;
  top: 874px;
  height: 39px;
}
.chi-tit-o-ba-l-child56 {
  left: 934px;
  border-radius: var(--br-lgi-5);
  background-color: var(--color-orangered);
  width: 210px;
}
.thm-vo-gi5 {
  left: 943px;
  display: flex;
  color: var(--color-white);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 192px;
}
.nh-gi-45,
.thng-tin-b6 {
  position: absolute;
  top: 1064px;
  left: 106px;
  font-size: var(--font-size-smi);
  display: inline-block;
  width: 137px;
  height: 22px;
}
.nh-gi-45 {
  left: 254px;
}
.line-27-stroke6,
.nh-gi-cho5 {
  position: absolute;
  top: 1056px;
  left: 255px;
  width: 86px;
  height: 2px;
}
.nh-gi-cho5 {
  top: 1112px;
  left: 106px;
  font-size: var(--font-size-xl);
  display: flex;
  white-space: pre-wrap;
  align-items: center;
  width: 347px;
  height: 23px;
}
.male-user-icon35,
.male-user-icon36 {
  position: absolute;
  top: 1161px;
  left: 123px;
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.male-user-icon36 {
  top: 1283px;
}
.male-user-icon37,
.male-user-icon38,
.pngtreeshiny-yellow-star-icon175 {
  position: absolute;
  top: 1405px;
  left: 123px;
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.male-user-icon38,
.pngtreeshiny-yellow-star-icon175 {
  top: 1527px;
}
.pngtreeshiny-yellow-star-icon175 {
  top: 0;
  left: 0;
  width: 16.7px;
  height: 14.6px;
}
.pngtreeshiny-yellow-star-icon176,
.pngtreeshiny-yellow-star-icon177 {
  position: absolute;
  top: 0;
  left: 16.7px;
  width: 16.7px;
  height: 14.6px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon177 {
  left: 33.5px;
}
.pngtreeshiny-yellow-star-icon178,
.pngtreeshiny-yellow-star-icon179 {
  position: absolute;
  top: 0;
  left: 50.2px;
  width: 16.7px;
  height: 14.6px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon179 {
  left: 66.9px;
}
.pngtreeshiny-yellow-star-icon-parent23,
.pngtreeshiny-yellow-star-icon-parent24 {
  position: absolute;
  top: 1171px;
  left: 201px;
  width: 83.7px;
  height: 14.6px;
}
.pngtreeshiny-yellow-star-icon-parent24 {
  top: 1293px;
}
.pngtreeshiny-yellow-star-icon-parent25,
.pngtreeshiny-yellow-star-icon-parent26 {
  position: absolute;
  top: 1415px;
  left: 201px;
  width: 83.7px;
  height: 14.6px;
}
.pngtreeshiny-yellow-star-icon-parent26 {
  top: 1537px;
}
.ging-14-container5,
.hng-14-container5,
.lng-13-container5 {
  position: absolute;
  top: 1196px;
  left: 203px;
  font-size: var(--font-size-smi);
  letter-spacing: 0.08em;
  display: inline-block;
  width: 199px;
  height: 19px;
}
.ging-14-container5,
.lng-13-container5 {
  top: 1318px;
  left: 205px;
}
.ging-14-container5 {
  top: 1440px;
  left: 203px;
}
.cht-vi-siu5,
.lc-14-container5,
.o-p-xut5,
.phi-ni-l5,
.shop-uy-tn5 {
  position: absolute;
  left: 205px;
  font-size: var(--font-size-smi);
  letter-spacing: 0.08em;
}
.lc-14-container5 {
  top: 1562px;
  display: inline-block;
  width: 199px;
  height: 19px;
}
.cht-vi-siu5,
.o-p-xut5,
.phi-ni-l5,
.shop-uy-tn5 {
  top: 1219px;
  display: flex;
  align-items: center;
  width: 369px;
  height: 21px;
}
.cht-vi-siu5,
.phi-ni-l5,
.shop-uy-tn5 {
  top: 1341px;
}
.phi-ni-l5,
.shop-uy-tn5 {
  top: 1463px;
}
.shop-uy-tn5 {
  top: 1585px;
}
.chi-tit-o-ba-l-child57 {
  position: absolute;
  top: 1064px;
  left: 811px;
  background-color: var(--color-white);
  border: 2px solid var(--color-teal-200);
  box-sizing: border-box;
  width: 485px;
  height: 538px;
}
.pngtreeshiny-yellow-star-icon195 {
  position: absolute;
  top: 0;
  left: 237px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon196,
.pngtreeshiny-yellow-star-icon197 {
  position: absolute;
  top: 0;
  left: 257.6px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon197 {
  left: 278.3px;
}
.pngtreeshiny-yellow-star-icon198,
.pngtreeshiny-yellow-star-icon199 {
  position: absolute;
  top: 0;
  left: 298.9px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon199 {
  left: 319.5px;
}
.pngtreeshiny-yellow-star-icon200,
.pngtreeshiny-yellow-star-icon201 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon201 {
  left: 29px;
}
.pngtreeshiny-yellow-star-icon202,
.pngtreeshiny-yellow-star-icon203 {
  position: absolute;
  top: 0;
  left: 46px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon203 {
  left: 75px;
}
.pngtreeshiny-yellow-star-icon204,
.pngtreeshiny-yellow-star-icon205 {
  position: absolute;
  top: 0;
  left: 92px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon205 {
  left: 109px;
}
.pngtreeshiny-yellow-star-icon206,
.pngtreeshiny-yellow-star-icon207 {
  position: absolute;
  top: 0;
  left: 146px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon207 {
  left: 164px;
}
.pngtreeshiny-yellow-star-icon208,
.pngtreeshiny-yellow-star-icon209 {
  position: absolute;
  top: 0;
  left: 182px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon209 {
  left: 200px;
}
.pngtreeshiny-yellow-star-icon-parent27 {
  position: absolute;
  top: 1153px;
  left: 839px;
  width: 340.1px;
  height: 18px;
}
.email6,
.nh-gi-ca11,
.nhn-xt-ca5,
.thm-nh-gi5,
.tn5 {
  position: absolute;
  top: 1080px;
  left: 842px;
  font-size: var(--font-size-xl);
  display: flex;
  align-items: center;
  width: 159px;
  height: 31px;
}
.email6,
.nh-gi-ca11,
.nhn-xt-ca5,
.tn5 {
  top: 1111px;
  font-size: var(--font-size-mini);
}
.email6,
.nhn-xt-ca5,
.tn5 {
  top: 1178px;
}
.email6,
.tn5 {
  top: 1341px;
}
.email6 {
  left: 1069px;
}
.chi-tit-o-ba-l-child58,
.chi-tit-o-ba-l-child59,
.chi-tit-o-ba-l-child60,
.chi-tit-o-ba-l-child61 {
  position: absolute;
  left: 842px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
}
.chi-tit-o-ba-l-child58 {
  top: 1211px;
  border-radius: var(--br-5xs);
  width: 421px;
  height: 111px;
}
.chi-tit-o-ba-l-child59,
.chi-tit-o-ba-l-child60,
.chi-tit-o-ba-l-child61 {
  top: 1373px;
  width: 197px;
  height: 36px;
}
.chi-tit-o-ba-l-child60,
.chi-tit-o-ba-l-child61 {
  left: 1069px;
}
.chi-tit-o-ba-l-child61 {
  top: 1438px;
  left: 845px;
  border-radius: var(--br-11xs);
  width: 11px;
  height: 11px;
}
.lu-tn-ca5,
.ny-cho-ln5 {
  position: absolute;
  top: 1433px;
  left: 869px;
  font-size: var(--font-size-mini);
  display: flex;
  align-items: center;
  width: 386px;
  height: 21px;
}
.ny-cho-ln5 {
  top: 1465px;
  left: 842px;
}
.chi-tit-o-ba-l-child62 {
  position: absolute;
  top: 1496px;
  left: 841px;
  background-color: var(--color-teal-200);
  width: 87px;
  height: 36px;
}
.gi-i5 {
  position: absolute;
  top: 1499px;
  left: 843px;
  font-size: var(--font-size-mini);
  display: flex;
  color: var(--color-white);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 32px;
}
.group-child107 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 1440px;
  height: 89px;
}
.logo-mixi-tt-1-icon15 {
  position: absolute;
  top: 18px;
  left: 17px;
  width: 89px;
  height: 53px;
  object-fit: cover;
  cursor: pointer;
}
.home29 {
  position: absolute;
  top: -23px;
  left: -86px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.home-wrapper27 {
  overflow: hidden;
}
.frame-wrapper203,
.frame-wrapper204,
.frame-wrapper205,
.home-wrapper27 {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 14px;
}
.frame-wrapper203,
.frame-wrapper204 {
  top: 8px;
  left: 4px;
}
.frame-wrapper203 {
  top: -9px;
  width: 69px;
  height: 34px;
}
.danh-mc-sn22,
.frame-wrapper202 {
  position: absolute;
  top: 39px;
  left: 301px;
  width: 77px;
  height: 29px;
  cursor: pointer;
}
.danh-mc-sn22 {
  top: -15px;
  left: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.danh-mc-sn-phm-wrapper13 {
  position: absolute;
  top: 0;
  left: -16px;
  width: 221px;
  height: 34px;
  overflow: hidden;
}
.frame-wrapper206,
.thng-bo15 {
  position: absolute;
  top: 30px;
  left: 454px;
  width: 189px;
  height: 30px;
}
.thng-bo15 {
  top: -13px;
  left: -55px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.frame-child12,
.thng-bo-wrapper13 {
  position: absolute;
  top: 28px;
  left: 720px;
  width: 123px;
  height: 32px;
  overflow: hidden;
}
.frame-child12 {
  top: 6px;
  left: 10px;
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.frame-wrapper207 {
  position: absolute;
  top: 5px;
  left: 1357px;
  width: 72px;
  height: 72px;
}
.paper-bag-icon15 {
  position: absolute;
  top: 24px;
  left: 1293px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  cursor: pointer;
}
.rectangle-parent105 {
  width: 1440px;
  position: relative;
  height: 89px;
}
.menu15 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-mid);
}
.male-user-icon39,
.trang-ch13 {
  position: absolute;
  cursor: pointer;
}
.male-user-icon39 {
  top: 17px;
  left: 1355px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.trang-ch13 {
  top: 129px;
  left: 106px;
  font-size: var(--font-size-4xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 14px;
}
.chi-tit-o-ba-l-child63 {
  position: absolute;
  top: 131px;
  left: 166px;
  width: 3px;
  height: 8px;
  object-fit: contain;
}
.ca-hng13 {
  top: 131px;
  left: 163px;
  font-size: var(--font-size-3xs);
  white-space: pre-wrap;
  width: 77px;
  height: 12px;
  cursor: pointer;
}
.ca-hng13,
.home30,
.o-ba-l66 {
  position: absolute;
  display: flex;
  align-items: center;
}
.o-ba-l66 {
  top: 131px;
  left: 242px;
  font-size: var(--font-size-3xs);
  width: 59px;
  height: 12px;
  cursor: pointer;
}
.home30 {
  top: -5px;
  left: -60px;
  justify-content: center;
  width: 170px;
  height: 30px;
}
.home-wrapper28 {
  position: absolute;
  top: 35px;
  left: 315px;
  width: 49px;
  height: 21px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-mid);
}
.chi-tit-o-ba-l4 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2019px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-arial);
}
