.group-child108 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  border: 2px solid var(--color-gray);
  box-sizing: border-box;
  width: 1440px;
  height: 345px;
}
.v-chng-ti33 {
  letter-spacing: 0.01em;
}
.v-chng-ti32 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.website-chnh-thc16 {
  margin: 0;
  font-size: var(--font-size-lgi);
  letter-spacing: -0.01em;
  line-height: 121.06%;
  font-weight: 300;
}
.v-chng-ti-container16 {
  position: absolute;
  top: 53px;
  left: 55px;
  color: var(--color-black);
  display: inline-block;
  width: 371px;
  height: 292px;
  font-size: var(--font-size-6xl);
}
.thng-tin33 {
  margin-block-start: 0;
  margin-block-end: 11px;
}
.thng-tin32 {
  position: absolute;
  top: 53px;
  left: 725px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  color: var(--color-black);
  width: 350px;
  height: 40px;
}
.blank-line268 {
  margin-block-start: 0;
  margin-block-end: 2px;
  font-size: var(--font-size-lgi);
}
.mi-thc-mc16 {
  font-weight: 300;
}
.fanpage-v-instagram32 {
  margin: 0;
}
.mi-thc-mc-container16 {
  position: absolute;
  top: 58px;
  left: 990px;
  letter-spacing: 0.03em;
  line-height: 121.25%;
  color: var(--color-black);
  display: inline-block;
  width: 395px;
  height: 296px;
  font-size: var(--font-size-6xl);
}
.blank-line269 {
  margin: 0;
  font-size: var(--font-size-8xl);
  font-weight: 300;
}
.danh-mc-sn-container16,
.h-tr16 {
  position: absolute;
  top: 53px;
  left: 418px;
  color: var(--color-black);
  display: inline-block;
  width: 350px;
  height: 40px;
  font-size: var(--font-size-6xl);
}
.h-tr16 {
  left: 993px;
}
.o-ba-l68 {
  margin-bottom: 10px;
}
.o-ba-l67 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-ba-l-container31 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  display: inline-block;
  width: 131px;
  height: 35px;
  cursor: pointer;
}
.frame-wrapper210,
.o-ba-l-wrapper22 {
  position: absolute;
  top: 0;
  left: -9px;
  width: 111px;
  height: 26px;
  overflow: hidden;
}
.frame-wrapper210 {
  top: 145px;
  left: 426px;
  width: 108px;
}
.lu-nim-mixi-container36 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  display: inline-block;
  width: 302px;
  height: 35px;
}
.frame-wrapper211,
.lu-nim-mixi-wrapper22 {
  position: absolute;
  top: 0;
  left: 0;
  width: 198px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper211 {
  top: 187px;
  left: 417px;
  width: 193px;
  cursor: pointer;
}
.frame-wrapper212,
.o-refund-gaming-wrapper22 {
  position: absolute;
  top: 0;
  left: 0;
  width: 214px;
  height: 28px;
  overflow: hidden;
}
.frame-wrapper212 {
  top: 229px;
  left: 417px;
  cursor: pointer;
}
.frame-wrapper213,
.o-csgo-wrapper22 {
  position: absolute;
  top: 0;
  left: 0;
  width: 123px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper213 {
  top: 271px;
  left: 417px;
  cursor: pointer;
}
.chnh-sch-bo-container16,
.gii-thiu32,
.iu-khon32,
.o-mixi76,
.sitemap32 {
  position: absolute;
  top: 103px;
  left: 717px;
  font-weight: 300;
  display: inline-block;
  width: 295px;
  height: 35px;
}
.chnh-sch-bo-container16,
.iu-khon32,
.o-mixi76,
.sitemap32 {
  top: 145px;
}
.iu-khon32,
.o-mixi76,
.sitemap32 {
  top: 187px;
}
.o-mixi76,
.sitemap32 {
  top: 229px;
}
.o-mixi76 {
  top: 0;
  left: 0;
  width: 114px;
  cursor: pointer;
}
.frame-wrapper214,
.o-mixi-wrapper22 {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper214 {
  top: 103px;
  left: 418px;
}
.upward-arrow-icon16 {
  position: absolute;
  top: 271px;
  left: 1360px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}
.chi-tit-o-mixi-inner,
.frame-wrapper208,
.rectangle-parent106 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 354px;
}
.chi-tit-o-mixi-inner,
.frame-wrapper208 {
  height: 345px;
  overflow: hidden;
}
.chi-tit-o-mixi-inner {
  top: 1674px;
  font-size: var(--font-size-2xl);
  color: var(--color-teal-200);
  font-family: var(--font-inter);
}
.trang-ch14 {
  position: absolute;
  top: 129px;
  left: 106px;
  font-size: var(--font-size-4xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 14px;
  cursor: pointer;
}
.chi-tit-o-mixi-child {
  position: absolute;
  top: 131px;
  left: 166px;
  width: 3px;
  height: 8px;
  object-fit: contain;
}
.ca-hng14,
.o-mixi79 {
  position: absolute;
  top: 131px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  height: 12px;
  cursor: pointer;
}
.ca-hng14 {
  left: 166px;
  white-space: pre-wrap;
  width: 73px;
}
.o-mixi79 {
  left: 242px;
  width: 59px;
}
.chi-tit-o-mixi-item {
  position: absolute;
  top: 183px;
  left: 106px;
  width: 537px;
  height: 805px;
  object-fit: cover;
}
.b27,
.o-sologan-mixigaming {
  position: absolute;
  top: 176px;
  left: 747px;
  font-size: var(--font-size-9xl);
  display: flex;
  align-items: center;
  width: 408px;
  height: 50px;
}
.b27 {
  top: 302px;
  width: 564px;
}
.chi-tit-o-mixi-child1 {
  position: absolute;
  top: 239px;
  left: 746px;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 99px;
  height: 2px;
}
.bng-size-chi6,
.nh-gi-ca12 {
  position: absolute;
  left: 747px;
  display: flex;
  align-items: center;
  height: 34px;
}
.nh-gi-ca12 {
  top: 254px;
  color: var(--color-teal-200);
  width: 260px;
}
.bng-size-chi6 {
  top: 366px;
  width: 139px;
}
.danh-mc6 {
  top: 954px;
  left: 747px;
  width: 89px;
}
.danh-mc6,
.o-mixi80,
.size-o-phng {
  position: absolute;
  display: flex;
  align-items: center;
  height: 34px;
}
.o-mixi80 {
  top: 954px;
  left: 842px;
  color: var(--color-teal-200);
  width: 89px;
  cursor: pointer;
}
.size-o-phng {
  top: 808px;
  left: 747px;
  width: 149px;
}
.size-3-lo-1400x800-1-icon6 {
  position: absolute;
  top: 414px;
  left: 747px;
  width: 610px;
  height: 370px;
  object-fit: cover;
}
.group-child109 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-4xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-teal-200);
  box-sizing: border-box;
  width: 91px;
  height: 33px;
}
.m6 {
  position: absolute;
  top: 3px;
  left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 26px;
}
.rectangle-parent107,
.rectangle-parent108,
.rectangle-parent109,
.rectangle-parent110 {
  position: absolute;
  top: 808px;
  left: 935px;
  width: 91px;
  height: 33px;
  text-align: center;
}
.rectangle-parent108,
.rectangle-parent109,
.rectangle-parent110 {
  left: 1046px;
}
.rectangle-parent109,
.rectangle-parent110 {
  left: 1157px;
}
.rectangle-parent110 {
  left: 1268px;
}
.chi-tit-o-mixi-child2 {
  position: absolute;
  top: 874px;
  left: 747px;
  border-radius: var(--br-lgi-5);
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 103px;
  height: 39px;
}
.chi-tit-o-mixi-child3,
.chi-tit-o-mixi-child4 {
  position: absolute;
  top: 873.5px;
  left: 770.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 40px;
}
.chi-tit-o-mixi-child4 {
  left: 825.5px;
}
.b28,
.b29,
.b30 {
  position: absolute;
  top: 879px;
  left: 752px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 30px;
}
.b29,
.b30 {
  left: 827px;
}
.b30 {
  left: 790px;
}
.group-child113,
.thm-vo-gi6 {
  position: absolute;
  top: 0;
  height: 39px;
}
.group-child113 {
  left: 0;
  border-radius: var(--br-lgi-5);
  background-color: var(--color-orangered);
  width: 210px;
}
.thm-vo-gi6 {
  left: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 192px;
}
.rectangle-parent111 {
  position: absolute;
  top: 874px;
  left: 934px;
  width: 210px;
  height: 39px;
  text-align: center;
  color: var(--color-white);
}
.nh-gi-46,
.thng-tin-b7 {
  position: absolute;
  top: 1064px;
  left: 106px;
  font-size: var(--font-size-smi);
  display: inline-block;
  width: 137px;
  height: 22px;
}
.nh-gi-46 {
  left: 254px;
}
.line-27-stroke7,
.nh-gi-cho6 {
  position: absolute;
  top: 1056px;
  left: 255px;
  width: 86px;
  height: 2px;
}
.nh-gi-cho6 {
  top: 1112px;
  left: 106px;
  font-size: var(--font-size-xl);
  display: flex;
  white-space: pre-wrap;
  align-items: center;
  width: 439px;
  height: 23px;
}
.male-user-icon40,
.male-user-icon41 {
  position: absolute;
  top: 1161px;
  left: 123px;
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.male-user-icon41 {
  top: 1283px;
}
.male-user-icon42,
.male-user-icon43,
.pngtreeshiny-yellow-star-icon210 {
  position: absolute;
  top: 1405px;
  left: 123px;
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.male-user-icon43,
.pngtreeshiny-yellow-star-icon210 {
  top: 1527px;
}
.pngtreeshiny-yellow-star-icon210 {
  top: 0;
  left: 0;
  width: 16.7px;
  height: 14.6px;
}
.pngtreeshiny-yellow-star-icon211,
.pngtreeshiny-yellow-star-icon212 {
  position: absolute;
  top: 0;
  left: 16.7px;
  width: 16.7px;
  height: 14.6px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon212 {
  left: 33.5px;
}
.pngtreeshiny-yellow-star-icon213,
.pngtreeshiny-yellow-star-icon214 {
  position: absolute;
  top: 0;
  left: 50.2px;
  width: 16.7px;
  height: 14.6px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon214 {
  left: 66.9px;
}
.pngtreeshiny-yellow-star-icon-parent28,
.pngtreeshiny-yellow-star-icon-parent29 {
  position: absolute;
  top: 1171px;
  left: 201px;
  width: 83.7px;
  height: 14.6px;
}
.pngtreeshiny-yellow-star-icon-parent29 {
  top: 1293px;
}
.pngtreeshiny-yellow-star-icon-parent30,
.pngtreeshiny-yellow-star-icon-parent31 {
  position: absolute;
  top: 1415px;
  left: 201px;
  width: 83.7px;
  height: 14.6px;
}
.pngtreeshiny-yellow-star-icon-parent31 {
  top: 1537px;
}
.ging-14-container6,
.hng-14-container6,
.lng-13-container6 {
  position: absolute;
  top: 1196px;
  left: 203px;
  font-size: var(--font-size-smi);
  letter-spacing: 0.08em;
  display: inline-block;
  width: 199px;
  height: 19px;
}
.ging-14-container6,
.lng-13-container6 {
  top: 1318px;
  left: 205px;
}
.ging-14-container6 {
  top: 1440px;
  left: 203px;
}
.cht-vi-siu6,
.lc-14-container6,
.o-p-xut6,
.phi-ni-l6,
.shop-uy-tn6 {
  position: absolute;
  left: 205px;
  font-size: var(--font-size-smi);
  letter-spacing: 0.08em;
}
.lc-14-container6 {
  top: 1562px;
  display: inline-block;
  width: 199px;
  height: 19px;
}
.cht-vi-siu6,
.o-p-xut6,
.phi-ni-l6,
.shop-uy-tn6 {
  top: 1219px;
  display: flex;
  align-items: center;
  width: 369px;
  height: 21px;
}
.cht-vi-siu6,
.phi-ni-l6,
.shop-uy-tn6 {
  top: 1341px;
}
.phi-ni-l6,
.shop-uy-tn6 {
  top: 1463px;
}
.shop-uy-tn6 {
  top: 1585px;
}
.chi-tit-o-mixi-child5 {
  position: absolute;
  top: 1064px;
  left: 811px;
  background-color: var(--color-white);
  border: 2px solid var(--color-teal-200);
  box-sizing: border-box;
  width: 485px;
  height: 538px;
}
.pngtreeshiny-yellow-star-icon230 {
  position: absolute;
  top: 0;
  left: 237px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon231,
.pngtreeshiny-yellow-star-icon232 {
  position: absolute;
  top: 0;
  left: 257.6px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon232 {
  left: 278.3px;
}
.pngtreeshiny-yellow-star-icon233,
.pngtreeshiny-yellow-star-icon234 {
  position: absolute;
  top: 0;
  left: 298.9px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon234 {
  left: 319.5px;
}
.pngtreeshiny-yellow-star-icon235,
.pngtreeshiny-yellow-star-icon236 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon236 {
  left: 29px;
}
.pngtreeshiny-yellow-star-icon237,
.pngtreeshiny-yellow-star-icon238 {
  position: absolute;
  top: 0;
  left: 46px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon238 {
  left: 75px;
}
.pngtreeshiny-yellow-star-icon239,
.pngtreeshiny-yellow-star-icon240 {
  position: absolute;
  top: 0;
  left: 92px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon240 {
  left: 109px;
}
.pngtreeshiny-yellow-star-icon241,
.pngtreeshiny-yellow-star-icon242 {
  position: absolute;
  top: 0;
  left: 146px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon242 {
  left: 164px;
}
.pngtreeshiny-yellow-star-icon243,
.pngtreeshiny-yellow-star-icon244 {
  position: absolute;
  top: 0;
  left: 182px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon244 {
  left: 200px;
}
.pngtreeshiny-yellow-star-icon-parent32 {
  position: absolute;
  top: 1153px;
  left: 839px;
  width: 340.1px;
  height: 18px;
}
.email7,
.nh-gi-ca13,
.nhn-xt-ca6,
.thm-nh-gi6,
.tn6 {
  position: absolute;
  top: 1080px;
  left: 842px;
  font-size: var(--font-size-xl);
  display: flex;
  align-items: center;
  width: 159px;
  height: 31px;
}
.email7,
.nh-gi-ca13,
.nhn-xt-ca6,
.tn6 {
  top: 1111px;
  font-size: var(--font-size-mini);
}
.email7,
.nhn-xt-ca6,
.tn6 {
  top: 1178px;
}
.email7,
.tn6 {
  top: 1341px;
}
.email7 {
  left: 1069px;
}
.chi-tit-o-mixi-child6,
.chi-tit-o-mixi-child7,
.chi-tit-o-mixi-child8,
.chi-tit-o-mixi-child9 {
  position: absolute;
  left: 842px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
}
.chi-tit-o-mixi-child6 {
  top: 1211px;
  border-radius: var(--br-5xs);
  width: 421px;
  height: 111px;
}
.chi-tit-o-mixi-child7,
.chi-tit-o-mixi-child8,
.chi-tit-o-mixi-child9 {
  top: 1373px;
  width: 197px;
  height: 36px;
}
.chi-tit-o-mixi-child8,
.chi-tit-o-mixi-child9 {
  left: 1069px;
}
.chi-tit-o-mixi-child9 {
  top: 1438px;
  left: 845px;
  border-radius: var(--br-11xs);
  width: 11px;
  height: 11px;
}
.lu-tn-ca6,
.ny-cho-ln6 {
  position: absolute;
  top: 1433px;
  left: 869px;
  font-size: var(--font-size-mini);
  display: flex;
  align-items: center;
  width: 386px;
  height: 21px;
}
.ny-cho-ln6 {
  top: 1465px;
  left: 842px;
}
.chi-tit-o-mixi-child10 {
  position: absolute;
  top: 1496px;
  left: 841px;
  background-color: var(--color-teal-200);
  width: 87px;
  height: 36px;
}
.gi-i6 {
  position: absolute;
  top: 1499px;
  left: 843px;
  font-size: var(--font-size-mini);
  display: flex;
  color: var(--color-white);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 32px;
}
.group-child114 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 1440px;
  height: 89px;
}
.logo-mixi-tt-1-icon16 {
  position: absolute;
  top: 18px;
  left: 17px;
  width: 89px;
  height: 53px;
  object-fit: cover;
  cursor: pointer;
}
.home31 {
  position: absolute;
  top: -23px;
  left: -86px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.home-wrapper29 {
  overflow: hidden;
}
.frame-wrapper216,
.frame-wrapper217,
.frame-wrapper218,
.home-wrapper29 {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 14px;
}
.frame-wrapper216,
.frame-wrapper217 {
  top: 8px;
  left: 4px;
}
.frame-wrapper216 {
  top: -9px;
  width: 69px;
  height: 34px;
}
.danh-mc-sn23,
.frame-wrapper215 {
  position: absolute;
  top: 39px;
  left: 301px;
  width: 77px;
  height: 29px;
  cursor: pointer;
}
.danh-mc-sn23 {
  top: -15px;
  left: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.danh-mc-sn-phm-wrapper14 {
  position: absolute;
  top: 0;
  left: -16px;
  width: 221px;
  height: 34px;
  overflow: hidden;
}
.frame-wrapper219,
.thng-bo16 {
  position: absolute;
  top: 30px;
  left: 454px;
  width: 189px;
  height: 30px;
}
.thng-bo16 {
  top: -13px;
  left: -55px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.frame-child13,
.thng-bo-wrapper14 {
  position: absolute;
  top: 28px;
  left: 720px;
  width: 123px;
  height: 32px;
  overflow: hidden;
}
.frame-child13 {
  top: 6px;
  left: 10px;
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.frame-wrapper220 {
  position: absolute;
  top: 5px;
  left: 1357px;
  width: 72px;
  height: 72px;
}
.paper-bag-icon16 {
  position: absolute;
  top: 24px;
  left: 1293px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  cursor: pointer;
}
.rectangle-parent112 {
  width: 1440px;
  position: relative;
  height: 89px;
}
.menu16 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-mid);
}
.male-user-icon44 {
  position: absolute;
  top: 17px;
  left: 1355px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}
.home32 {
  position: absolute;
  top: -5px;
  left: -60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 30px;
}
.home-wrapper30 {
  position: absolute;
  top: 35px;
  left: 315px;
  width: 49px;
  height: 21px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-mid);
}
.chi-tit-o-mixi {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2019px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-arial);
}
