.group-child162 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  border: 2px solid var(--color-gray);
  box-sizing: border-box;
  width: 1440px;
  height: 345px;
}
.v-chng-ti43 {
  letter-spacing: 0.01em;
}
.v-chng-ti42 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.website-chnh-thc21 {
  margin: 0;
  font-size: var(--font-size-lgi);
  letter-spacing: -0.01em;
  line-height: 121.06%;
  font-weight: 300;
}
.v-chng-ti-container21 {
  position: absolute;
  top: 53px;
  left: 55px;
  color: var(--color-black);
  display: inline-block;
  width: 371px;
  height: 292px;
  font-size: var(--font-size-6xl);
}
.thng-tin43 {
  margin-block-start: 0;
  margin-block-end: 11px;
}
.thng-tin42 {
  position: absolute;
  top: 53px;
  left: 725px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  color: var(--color-black);
  width: 350px;
  height: 40px;
}
.blank-line293 {
  margin-block-start: 0;
  margin-block-end: 2px;
  font-size: var(--font-size-lgi);
}
.mi-thc-mc21 {
  font-weight: 300;
}
.fanpage-v-instagram42 {
  margin: 0;
}
.mi-thc-mc-container21 {
  position: absolute;
  top: 58px;
  left: 990px;
  letter-spacing: 0.03em;
  line-height: 121.25%;
  color: var(--color-black);
  display: inline-block;
  width: 395px;
  height: 296px;
  font-size: var(--font-size-6xl);
}
.blank-line294 {
  margin: 0;
  font-size: var(--font-size-8xl);
  font-weight: 300;
}
.danh-mc-sn-container21,
.h-tr21 {
  position: absolute;
  top: 53px;
  left: 418px;
  color: var(--color-black);
  display: inline-block;
  width: 350px;
  height: 40px;
  font-size: var(--font-size-6xl);
}
.h-tr21 {
  left: 993px;
}
.o-ba-l78 {
  margin-bottom: 10px;
}
.o-ba-l77 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-ba-l-container36 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  display: inline-block;
  width: 302px;
  height: 35px;
}
.frame-wrapper275,
.o-ba-l-wrapper27 {
  position: absolute;
  top: 0;
  left: -9px;
  width: 111px;
  height: 26px;
  overflow: hidden;
}
.frame-wrapper275 {
  top: 145px;
  left: 426px;
  width: 108px;
}
.frame-wrapper276,
.lu-nim-mixi-wrapper27 {
  position: absolute;
  top: 0;
  left: 0;
  width: 198px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper276 {
  top: 187px;
  left: 417px;
  width: 193px;
  cursor: pointer;
}
.frame-wrapper277,
.o-refund-gaming-wrapper27 {
  position: absolute;
  top: 0;
  left: 0;
  width: 214px;
  height: 28px;
  overflow: hidden;
}
.frame-wrapper277 {
  top: 229px;
  left: 417px;
  cursor: pointer;
}
.frame-wrapper278,
.o-csgo-wrapper27 {
  position: absolute;
  top: 0;
  left: 0;
  width: 123px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper278 {
  top: 271px;
  left: 417px;
  cursor: pointer;
}
.chnh-sch-bo-container21,
.gii-thiu42,
.iu-khon42,
.o-mixi95,
.sitemap42 {
  position: absolute;
  top: 103px;
  left: 717px;
  font-weight: 300;
  display: inline-block;
  width: 295px;
  height: 35px;
}
.chnh-sch-bo-container21,
.iu-khon42,
.o-mixi95,
.sitemap42 {
  top: 145px;
}
.iu-khon42,
.o-mixi95,
.sitemap42 {
  top: 187px;
}
.o-mixi95,
.sitemap42 {
  top: 229px;
}
.o-mixi95 {
  top: 0;
  left: 0;
  width: 114px;
  cursor: pointer;
}
.frame-wrapper279,
.o-mixi-wrapper27 {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper279 {
  top: 103px;
  left: 418px;
}
.upward-arrow-icon21 {
  position: absolute;
  top: 271px;
  left: 1360px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}
.chi-tit-o-csgo-inner,
.frame-wrapper273,
.rectangle-parent139 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 354px;
}
.chi-tit-o-csgo-inner,
.frame-wrapper273 {
  height: 345px;
  overflow: hidden;
}
.chi-tit-o-csgo-inner {
  top: 1674px;
  font-size: var(--font-size-2xl);
  color: var(--color-teal-200);
  font-family: var(--font-inter);
}
.trang-ch19 {
  position: absolute;
  top: 129px;
  left: 106px;
  font-size: var(--font-size-4xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 14px;
  cursor: pointer;
}
.chi-tit-o-csgo-child {
  position: absolute;
  top: 131px;
  left: 166px;
  width: 3px;
  height: 8px;
  object-fit: contain;
}
.ca-hng19 {
  top: 131px;
  left: 166px;
  font-size: var(--font-size-3xs);
  white-space: pre-wrap;
  width: 73px;
  height: 12px;
  cursor: pointer;
}
.b47,
.ca-hng19,
.o-csgo65,
.o-logo-csgo {
  position: absolute;
  display: flex;
  align-items: center;
}
.o-csgo65 {
  top: 131px;
  left: 242px;
  font-size: var(--font-size-3xs);
  width: 59px;
  height: 12px;
  cursor: pointer;
}
.b47,
.o-logo-csgo {
  top: 176px;
  left: 747px;
  font-size: var(--font-size-9xl);
  width: 408px;
  height: 50px;
}
.b47 {
  top: 302px;
  width: 136px;
}
.chi-tit-o-csgo-item {
  position: absolute;
  top: 239px;
  left: 746px;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 99px;
  height: 2px;
}
.bng-size-chi9,
.nh-gi-ca20 {
  position: absolute;
  left: 747px;
  display: flex;
  align-items: center;
  height: 34px;
}
.nh-gi-ca20 {
  top: 254px;
  color: var(--color-teal-200);
  width: 260px;
}
.bng-size-chi9 {
  top: 366px;
  width: 139px;
}
.danh-mc11 {
  top: 954px;
  left: 747px;
  width: 89px;
}
.danh-mc11,
.o-csgo66,
.size-csgo {
  position: absolute;
  display: flex;
  align-items: center;
  height: 34px;
}
.o-csgo66 {
  top: 954px;
  left: 842px;
  color: var(--color-teal-200);
  width: 89px;
  cursor: pointer;
}
.size-csgo {
  top: 808px;
  left: 747px;
  width: 149px;
}
.size-3-lo-1400x800-1-icon9 {
  position: absolute;
  top: 414px;
  left: 747px;
  width: 610px;
  height: 370px;
  object-fit: cover;
}
.group-child163 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-4xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-teal-200);
  box-sizing: border-box;
  width: 91px;
  height: 33px;
}
.m9 {
  position: absolute;
  top: 3px;
  left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 26px;
}
.rectangle-parent140,
.rectangle-parent141,
.rectangle-parent142,
.rectangle-parent143 {
  position: absolute;
  top: 808px;
  left: 935px;
  width: 91px;
  height: 33px;
  text-align: center;
}
.rectangle-parent141,
.rectangle-parent142,
.rectangle-parent143 {
  left: 1046px;
}
.rectangle-parent142,
.rectangle-parent143 {
  left: 1157px;
}
.rectangle-parent143 {
  left: 1268px;
}
.chi-tit-o-csgo-child1 {
  position: absolute;
  top: 874px;
  left: 747px;
  border-radius: var(--br-lgi-5);
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 103px;
  height: 39px;
}
.chi-tit-o-csgo-child2,
.chi-tit-o-csgo-child3 {
  position: absolute;
  top: 873.5px;
  left: 770.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 40px;
}
.chi-tit-o-csgo-child3 {
  left: 825.5px;
}
.b48,
.b49,
.b50 {
  position: absolute;
  top: 879px;
  left: 752px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 30px;
}
.b49,
.b50 {
  left: 827px;
}
.b50 {
  left: 790px;
}
.group-child167,
.thm-vo-gi11 {
  position: absolute;
  top: 0;
  height: 39px;
}
.group-child167 {
  left: 0;
  border-radius: var(--br-lgi-5);
  background-color: var(--color-orangered);
  width: 210px;
}
.thm-vo-gi11 {
  left: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 192px;
}
.rectangle-parent144 {
  position: absolute;
  top: 874px;
  left: 934px;
  width: 210px;
  height: 39px;
  text-align: center;
  color: var(--color-white);
}
.nh-gi-49,
.thng-tin-b10 {
  position: absolute;
  top: 1064px;
  left: 106px;
  font-size: var(--font-size-smi);
  display: inline-block;
  width: 137px;
  height: 22px;
}
.nh-gi-49 {
  left: 254px;
}
.line-27-stroke10,
.nh-gi-cho9 {
  position: absolute;
  top: 1056px;
  left: 255px;
  width: 86px;
  height: 2px;
}
.nh-gi-cho9 {
  top: 1112px;
  left: 106px;
  font-size: var(--font-size-xl);
  display: flex;
  white-space: pre-wrap;
  align-items: center;
  width: 439px;
  height: 23px;
}
.male-user-icon57,
.male-user-icon58 {
  position: absolute;
  top: 1161px;
  left: 123px;
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.male-user-icon58 {
  top: 1283px;
}
.male-user-icon59,
.male-user-icon60,
.pngtreeshiny-yellow-star-icon315 {
  position: absolute;
  top: 1405px;
  left: 123px;
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.male-user-icon60,
.pngtreeshiny-yellow-star-icon315 {
  top: 1527px;
}
.pngtreeshiny-yellow-star-icon315 {
  top: 0;
  left: 0;
  width: 16.7px;
  height: 14.6px;
}
.pngtreeshiny-yellow-star-icon316,
.pngtreeshiny-yellow-star-icon317 {
  position: absolute;
  top: 0;
  left: 16.7px;
  width: 16.7px;
  height: 14.6px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon317 {
  left: 33.5px;
}
.pngtreeshiny-yellow-star-icon318,
.pngtreeshiny-yellow-star-icon319 {
  position: absolute;
  top: 0;
  left: 50.2px;
  width: 16.7px;
  height: 14.6px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon319 {
  left: 66.9px;
}
.pngtreeshiny-yellow-star-icon-parent43,
.pngtreeshiny-yellow-star-icon-parent44 {
  position: absolute;
  top: 1171px;
  left: 201px;
  width: 83.7px;
  height: 14.6px;
}
.pngtreeshiny-yellow-star-icon-parent44 {
  top: 1293px;
}
.pngtreeshiny-yellow-star-icon-parent45,
.pngtreeshiny-yellow-star-icon-parent46 {
  position: absolute;
  top: 1415px;
  left: 201px;
  width: 83.7px;
  height: 14.6px;
}
.pngtreeshiny-yellow-star-icon-parent46 {
  top: 1537px;
}
.ging-14-container9,
.hng-14-container9,
.lng-13-container9 {
  position: absolute;
  top: 1196px;
  left: 203px;
  font-size: var(--font-size-smi);
  letter-spacing: 0.08em;
  display: inline-block;
  width: 199px;
  height: 19px;
}
.ging-14-container9,
.lng-13-container9 {
  top: 1318px;
  left: 205px;
}
.ging-14-container9 {
  top: 1440px;
  left: 203px;
}
.cht-vi-siu9,
.lc-14-container9,
.o-p-xut9,
.phi-ni-l9,
.shop-uy-tn9 {
  position: absolute;
  left: 205px;
  font-size: var(--font-size-smi);
  letter-spacing: 0.08em;
}
.lc-14-container9 {
  top: 1562px;
  display: inline-block;
  width: 199px;
  height: 19px;
}
.cht-vi-siu9,
.o-p-xut9,
.phi-ni-l9,
.shop-uy-tn9 {
  top: 1219px;
  display: flex;
  align-items: center;
  width: 369px;
  height: 21px;
}
.cht-vi-siu9,
.phi-ni-l9,
.shop-uy-tn9 {
  top: 1341px;
}
.phi-ni-l9,
.shop-uy-tn9 {
  top: 1463px;
}
.shop-uy-tn9 {
  top: 1585px;
}
.chi-tit-o-csgo-child4 {
  position: absolute;
  top: 1064px;
  left: 811px;
  background-color: var(--color-white);
  border: 2px solid var(--color-teal-200);
  box-sizing: border-box;
  width: 485px;
  height: 538px;
}
.pngtreeshiny-yellow-star-icon335 {
  position: absolute;
  top: 0;
  left: 237px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon336,
.pngtreeshiny-yellow-star-icon337 {
  position: absolute;
  top: 0;
  left: 257.6px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon337 {
  left: 278.3px;
}
.pngtreeshiny-yellow-star-icon338,
.pngtreeshiny-yellow-star-icon339 {
  position: absolute;
  top: 0;
  left: 298.9px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon339 {
  left: 319.5px;
}
.pngtreeshiny-yellow-star-icon340,
.pngtreeshiny-yellow-star-icon341 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon341 {
  left: 29px;
}
.pngtreeshiny-yellow-star-icon342,
.pngtreeshiny-yellow-star-icon343 {
  position: absolute;
  top: 0;
  left: 46px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon343 {
  left: 75px;
}
.pngtreeshiny-yellow-star-icon344,
.pngtreeshiny-yellow-star-icon345 {
  position: absolute;
  top: 0;
  left: 92px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon345 {
  left: 109px;
}
.pngtreeshiny-yellow-star-icon346,
.pngtreeshiny-yellow-star-icon347 {
  position: absolute;
  top: 0;
  left: 146px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon347 {
  left: 164px;
}
.pngtreeshiny-yellow-star-icon348,
.pngtreeshiny-yellow-star-icon349 {
  position: absolute;
  top: 0;
  left: 182px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon349 {
  left: 200px;
}
.pngtreeshiny-yellow-star-icon-parent47 {
  position: absolute;
  top: 1153px;
  left: 839px;
  width: 340.1px;
  height: 18px;
}
.email10,
.nh-gi-ca21,
.nhn-xt-ca9,
.thm-nh-gi9,
.tn9 {
  position: absolute;
  top: 1080px;
  left: 842px;
  font-size: var(--font-size-xl);
  display: flex;
  align-items: center;
  width: 159px;
  height: 31px;
}
.email10,
.nh-gi-ca21,
.nhn-xt-ca9,
.tn9 {
  top: 1111px;
  font-size: var(--font-size-mini);
}
.email10,
.nhn-xt-ca9,
.tn9 {
  top: 1178px;
}
.email10,
.tn9 {
  top: 1341px;
}
.email10 {
  left: 1069px;
}
.chi-tit-o-csgo-child5,
.chi-tit-o-csgo-child6,
.chi-tit-o-csgo-child7,
.chi-tit-o-csgo-child8 {
  position: absolute;
  left: 842px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
}
.chi-tit-o-csgo-child5 {
  top: 1211px;
  border-radius: var(--br-5xs);
  width: 421px;
  height: 111px;
}
.chi-tit-o-csgo-child6,
.chi-tit-o-csgo-child7,
.chi-tit-o-csgo-child8 {
  top: 1373px;
  width: 197px;
  height: 36px;
}
.chi-tit-o-csgo-child7,
.chi-tit-o-csgo-child8 {
  left: 1069px;
}
.chi-tit-o-csgo-child8 {
  top: 1438px;
  left: 845px;
  border-radius: var(--br-11xs);
  width: 11px;
  height: 11px;
}
.lu-tn-ca9,
.ny-cho-ln9 {
  position: absolute;
  top: 1433px;
  left: 869px;
  font-size: var(--font-size-mini);
  display: flex;
  align-items: center;
  width: 386px;
  height: 21px;
}
.ny-cho-ln9 {
  top: 1465px;
  left: 842px;
}
.chi-tit-o-csgo-child9 {
  position: absolute;
  top: 1496px;
  left: 841px;
  background-color: var(--color-teal-200);
  width: 87px;
  height: 36px;
}
.gi-i9 {
  position: absolute;
  top: 1499px;
  left: 843px;
  font-size: var(--font-size-mini);
  display: flex;
  color: var(--color-white);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 32px;
}
.component-5-child {
  width: 537px;
  position: relative;
  height: 805px;
  object-fit: cover;
}
.component-5 {
  position: absolute;
  top: 183px;
  left: 106px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.group-child168 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 1440px;
  height: 89px;
}
.logo-mixi-tt-1-icon21 {
  position: absolute;
  top: 18px;
  left: 17px;
  width: 89px;
  height: 53px;
  object-fit: cover;
  cursor: pointer;
}
.home41 {
  position: absolute;
  top: -23px;
  left: -86px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.home-wrapper39 {
  overflow: hidden;
}
.frame-wrapper281,
.frame-wrapper282,
.frame-wrapper283,
.home-wrapper39 {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 14px;
}
.frame-wrapper281,
.frame-wrapper282 {
  top: 8px;
  left: 4px;
}
.frame-wrapper281 {
  top: -9px;
  width: 69px;
  height: 34px;
}
.frame-wrapper280 {
  position: absolute;
  top: 39px;
  left: 301px;
  width: 77px;
  height: 29px;
  display: none;
}
.danh-mc-sn28 {
  position: absolute;
  top: -15px;
  left: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
  cursor: pointer;
}
.danh-mc-sn-phm-wrapper19 {
  position: absolute;
  top: 0;
  left: -16px;
  width: 221px;
  height: 34px;
  overflow: hidden;
}
.frame-wrapper284,
.thng-bo21 {
  position: absolute;
  top: 30px;
  left: 454px;
  width: 189px;
  height: 30px;
}
.thng-bo21 {
  top: -13px;
  left: -55px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.frame-child18,
.thng-bo-wrapper19 {
  position: absolute;
  top: 28px;
  left: 720px;
  width: 123px;
  height: 32px;
  overflow: hidden;
}
.frame-child18 {
  top: 6px;
  left: 10px;
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.frame-wrapper285 {
  position: absolute;
  top: 5px;
  left: 1357px;
  width: 72px;
  height: 72px;
}
.paper-bag-icon21 {
  position: absolute;
  top: 24px;
  left: 1293px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  cursor: pointer;
}
.rectangle-parent145 {
  width: 1440px;
  position: relative;
  height: 89px;
}
.menu21 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-mid);
}
.male-user-icon61 {
  position: absolute;
  top: 17px;
  left: 1355px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}
.home42 {
  position: absolute;
  top: -5px;
  left: -60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 30px;
}
.home-wrapper40 {
  position: absolute;
  top: 35px;
  left: 315px;
  width: 49px;
  height: 21px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-mid);
}
.chi-tit-o-csgo {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2019px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-arial);
}
