.group-child88 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  border: 2px solid var(--color-gray);
  box-sizing: border-box;
  width: 1440px;
  height: 345px;
}
.v-chng-ti25 {
  letter-spacing: 0.01em;
}
.v-chng-ti24 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.website-chnh-thc12 {
  margin: 0;
  font-size: var(--font-size-lgi);
  letter-spacing: -0.01em;
  line-height: 121.06%;
  font-weight: 300;
}
.v-chng-ti-container12 {
  position: absolute;
  top: 53px;
  left: 55px;
  color: var(--color-black);
  display: inline-block;
  width: 371px;
  height: 292px;
  font-size: var(--font-size-6xl);
}
.thng-tin25 {
  margin-block-start: 0;
  margin-block-end: 11px;
}
.thng-tin24 {
  position: absolute;
  top: 53px;
  left: 725px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  color: var(--color-black);
  width: 350px;
  height: 40px;
}
.blank-line248 {
  margin-block-start: 0;
  margin-block-end: 2px;
  font-size: var(--font-size-lgi);
}
.mi-thc-mc12 {
  font-weight: 300;
}
.fanpage-v-instagram24 {
  margin: 0;
}
.mi-thc-mc-container12 {
  position: absolute;
  top: 58px;
  left: 990px;
  letter-spacing: 0.03em;
  line-height: 121.25%;
  color: var(--color-black);
  display: inline-block;
  width: 395px;
  height: 296px;
  font-size: var(--font-size-6xl);
}
.blank-line249 {
  margin: 0;
  font-size: var(--font-size-8xl);
  font-weight: 300;
}
.danh-mc-sn-container12,
.h-tr12 {
  position: absolute;
  top: 53px;
  left: 418px;
  color: var(--color-black);
  display: inline-block;
  width: 350px;
  height: 40px;
  font-size: var(--font-size-6xl);
}
.h-tr12 {
  left: 993px;
}
.o-ba-l52 {
  margin-bottom: 10px;
}
.o-ba-l51 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-ba-l-container27 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  display: inline-block;
  width: 302px;
  height: 35px;
}
.frame-wrapper158,
.o-ba-l-wrapper18 {
  position: absolute;
  top: 0;
  left: -9px;
  width: 111px;
  height: 26px;
  overflow: hidden;
}
.frame-wrapper158 {
  top: 145px;
  left: 426px;
  width: 108px;
}
.frame-wrapper159,
.lu-nim-mixi-wrapper18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 198px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper159 {
  top: 187px;
  left: 417px;
  width: 193px;
  cursor: pointer;
}
.frame-wrapper160,
.o-refund-gaming-wrapper18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 214px;
  height: 28px;
  overflow: hidden;
}
.frame-wrapper160 {
  top: 229px;
  left: 417px;
  cursor: pointer;
}
.frame-wrapper161,
.o-csgo-wrapper18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 123px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper161 {
  top: 271px;
  left: 417px;
  cursor: pointer;
}
.chnh-sch-bo-container12,
.gii-thiu24,
.iu-khon24,
.o-mixi64,
.sitemap24 {
  position: absolute;
  top: 103px;
  left: 717px;
  font-weight: 300;
  display: inline-block;
  width: 295px;
  height: 35px;
}
.chnh-sch-bo-container12,
.iu-khon24,
.o-mixi64,
.sitemap24 {
  top: 145px;
}
.iu-khon24,
.o-mixi64,
.sitemap24 {
  top: 187px;
}
.o-mixi64,
.sitemap24 {
  top: 229px;
}
.o-mixi64 {
  top: 0;
  left: 0;
  width: 114px;
  cursor: pointer;
}
.frame-wrapper162,
.o-mixi-wrapper18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper162 {
  top: 103px;
  left: 418px;
}
.upward-arrow-icon12 {
  position: absolute;
  top: 271px;
  left: 1360px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}
.chi-tit-o-ba-l-inner1,
.frame-wrapper156,
.rectangle-parent86 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 354px;
}
.chi-tit-o-ba-l-inner1,
.frame-wrapper156 {
  height: 345px;
  overflow: hidden;
}
.chi-tit-o-ba-l-inner1 {
  top: 1674px;
  font-size: var(--font-size-2xl);
  color: var(--color-teal-200);
  font-family: var(--font-inter);
}
.chi-tit-o-ba-l-child12 {
  position: absolute;
  top: 183px;
  left: 106px;
  width: 537px;
  height: 805px;
  object-fit: cover;
}
.b11,
.o-3-l4 {
  position: absolute;
  top: 176px;
  left: 747px;
  font-size: var(--font-size-9xl);
  display: flex;
  align-items: center;
  width: 260px;
  height: 50px;
}
.b11 {
  top: 302px;
  width: 564px;
}
.chi-tit-o-ba-l-child13 {
  position: absolute;
  top: 239px;
  left: 746px;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 99px;
  height: 2px;
}
.bng-size-chi2,
.nh-gi-ca4 {
  position: absolute;
  left: 747px;
  display: flex;
  align-items: center;
  height: 34px;
}
.nh-gi-ca4 {
  top: 254px;
  color: var(--color-teal-200);
  width: 260px;
}
.bng-size-chi2 {
  top: 366px;
  width: 139px;
}
.danh-mc2 {
  top: 954px;
  left: 747px;
  width: 89px;
}
.danh-mc2,
.o-ba-l53,
.size-ba-l2 {
  position: absolute;
  display: flex;
  align-items: center;
  height: 34px;
}
.o-ba-l53 {
  top: 954px;
  left: 842px;
  color: var(--color-teal-200);
  width: 89px;
  cursor: pointer;
}
.size-ba-l2 {
  top: 808px;
  left: 747px;
  width: 105px;
}
.size-3-lo-1400x800-1-icon2 {
  position: absolute;
  top: 414px;
  left: 747px;
  width: 610px;
  height: 370px;
  object-fit: cover;
}
.group-child89 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-4xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-teal-200);
  box-sizing: border-box;
  width: 91px;
  height: 33px;
}
.m2 {
  position: absolute;
  top: 3px;
  left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 26px;
}
.rectangle-parent87,
.rectangle-parent88,
.rectangle-parent89 {
  position: absolute;
  top: 808px;
  left: 935px;
  width: 91px;
  height: 33px;
  text-align: center;
}
.rectangle-parent88,
.rectangle-parent89 {
  left: 1046px;
}
.rectangle-parent89 {
  left: 1157px;
}
.chi-tit-o-ba-l-child14 {
  position: absolute;
  top: 874px;
  left: 747px;
  border-radius: var(--br-lgi-5);
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 103px;
  height: 39px;
}
.chi-tit-o-ba-l-child15,
.chi-tit-o-ba-l-child16 {
  position: absolute;
  top: 873.5px;
  left: 770.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 40px;
}
.chi-tit-o-ba-l-child16 {
  left: 825.5px;
}
.b12,
.b13,
.b14 {
  position: absolute;
  top: 879px;
  left: 754px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 30px;
}
.b13,
.b14 {
  left: 827px;
}
.b14 {
  left: 790px;
}
.chi-tit-o-ba-l-child17,
.thm-vo-gi2 {
  position: absolute;
  top: 874px;
  height: 39px;
}
.chi-tit-o-ba-l-child17 {
  left: 934px;
  border-radius: var(--br-lgi-5);
  background-color: var(--color-orangered);
  width: 210px;
}
.thm-vo-gi2 {
  left: 943px;
  display: flex;
  color: var(--color-white);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 192px;
}
.nh-gi-42,
.thng-tin-b3 {
  position: absolute;
  top: 1064px;
  left: 106px;
  font-size: var(--font-size-smi);
  display: inline-block;
  width: 137px;
  height: 22px;
}
.nh-gi-42 {
  left: 254px;
}
.line-27-stroke3,
.nh-gi-cho2 {
  position: absolute;
  top: 1056px;
  left: 255px;
  width: 86px;
  height: 2px;
}
.nh-gi-cho2 {
  top: 1112px;
  left: 106px;
  font-size: var(--font-size-xl);
  display: flex;
  white-space: pre-wrap;
  align-items: center;
  width: 347px;
  height: 23px;
}
.male-user-icon20,
.male-user-icon21,
.male-user-icon22,
.male-user-icon23 {
  position: absolute;
  top: 1161px;
  left: 123px;
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.male-user-icon21,
.male-user-icon22,
.male-user-icon23 {
  top: 1283px;
}
.male-user-icon22,
.male-user-icon23 {
  top: 1405px;
}
.male-user-icon23 {
  top: 1527px;
}
.pngtreeshiny-yellow-star-icon70,
.pngtreeshiny-yellow-star-icon71 {
  position: absolute;
  top: 0;
  left: 0;
  width: 16.7px;
  height: 14.6px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon71 {
  left: 16.7px;
}
.pngtreeshiny-yellow-star-icon72,
.pngtreeshiny-yellow-star-icon73,
.pngtreeshiny-yellow-star-icon74 {
  position: absolute;
  top: 0;
  left: 33.5px;
  width: 16.7px;
  height: 14.6px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon73,
.pngtreeshiny-yellow-star-icon74 {
  left: 50.2px;
}
.pngtreeshiny-yellow-star-icon74 {
  left: 66.9px;
}
.pngtreeshiny-yellow-star-icon-parent8,
.pngtreeshiny-yellow-star-icon-parent9 {
  position: absolute;
  top: 1171px;
  left: 201px;
  width: 83.7px;
  height: 14.6px;
}
.pngtreeshiny-yellow-star-icon-parent9 {
  top: 1293px;
}
.pngtreeshiny-yellow-star-icon-parent10,
.pngtreeshiny-yellow-star-icon-parent11 {
  position: absolute;
  top: 1415px;
  left: 201px;
  width: 83.7px;
  height: 14.6px;
}
.pngtreeshiny-yellow-star-icon-parent11 {
  top: 1537px;
}
.ging-14-container2,
.hng-14-container2,
.lng-13-container2 {
  position: absolute;
  top: 1196px;
  left: 203px;
  font-size: var(--font-size-smi);
  letter-spacing: 0.08em;
  display: inline-block;
  width: 199px;
  height: 19px;
}
.ging-14-container2,
.lng-13-container2 {
  top: 1318px;
  left: 205px;
}
.ging-14-container2 {
  top: 1440px;
  left: 203px;
}
.cht-vi-siu2,
.lc-14-container2,
.o-p-xut2,
.phi-ni-l2,
.shop-uy-tn2 {
  position: absolute;
  left: 205px;
  font-size: var(--font-size-smi);
  letter-spacing: 0.08em;
}
.lc-14-container2 {
  top: 1562px;
  display: inline-block;
  width: 199px;
  height: 19px;
}
.cht-vi-siu2,
.o-p-xut2,
.phi-ni-l2,
.shop-uy-tn2 {
  top: 1219px;
  display: flex;
  align-items: center;
  width: 369px;
  height: 21px;
}
.cht-vi-siu2,
.phi-ni-l2,
.shop-uy-tn2 {
  top: 1341px;
}
.phi-ni-l2,
.shop-uy-tn2 {
  top: 1463px;
}
.shop-uy-tn2 {
  top: 1585px;
}
.chi-tit-o-ba-l-child18 {
  position: absolute;
  top: 1064px;
  left: 811px;
  background-color: var(--color-white);
  border: 2px solid var(--color-teal-200);
  box-sizing: border-box;
  width: 485px;
  height: 538px;
}
.pngtreeshiny-yellow-star-icon90 {
  position: absolute;
  top: 0;
  left: 237px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon91,
.pngtreeshiny-yellow-star-icon92 {
  position: absolute;
  top: 0;
  left: 257.6px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon92 {
  left: 278.3px;
}
.pngtreeshiny-yellow-star-icon93,
.pngtreeshiny-yellow-star-icon94 {
  position: absolute;
  top: 0;
  left: 298.9px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon94 {
  left: 319.5px;
}
.pngtreeshiny-yellow-star-icon95,
.pngtreeshiny-yellow-star-icon96 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon96 {
  left: 29px;
}
.pngtreeshiny-yellow-star-icon97,
.pngtreeshiny-yellow-star-icon98 {
  position: absolute;
  top: 0;
  left: 46px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon98 {
  left: 75px;
}
.pngtreeshiny-yellow-star-icon100,
.pngtreeshiny-yellow-star-icon99 {
  position: absolute;
  top: 0;
  left: 92px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon100 {
  left: 109px;
}
.pngtreeshiny-yellow-star-icon101,
.pngtreeshiny-yellow-star-icon102 {
  position: absolute;
  top: 0;
  left: 146px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon102 {
  left: 164px;
}
.pngtreeshiny-yellow-star-icon103,
.pngtreeshiny-yellow-star-icon104 {
  position: absolute;
  top: 0;
  left: 182px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon104 {
  left: 200px;
}
.pngtreeshiny-yellow-star-icon-parent12 {
  position: absolute;
  top: 1153px;
  left: 839px;
  width: 340.1px;
  height: 18px;
}
.email3,
.nh-gi-ca5,
.nhn-xt-ca2,
.thm-nh-gi2,
.tn2 {
  position: absolute;
  top: 1080px;
  left: 842px;
  font-size: var(--font-size-xl);
  display: flex;
  align-items: center;
  width: 159px;
  height: 31px;
}
.email3,
.nh-gi-ca5,
.nhn-xt-ca2,
.tn2 {
  top: 1111px;
  font-size: var(--font-size-mini);
}
.email3,
.nhn-xt-ca2,
.tn2 {
  top: 1178px;
}
.email3,
.tn2 {
  top: 1341px;
}
.email3 {
  left: 1069px;
}
.chi-tit-o-ba-l-child19,
.chi-tit-o-ba-l-child20,
.chi-tit-o-ba-l-child21,
.chi-tit-o-ba-l-child22 {
  position: absolute;
  left: 842px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
}
.chi-tit-o-ba-l-child19 {
  top: 1211px;
  border-radius: var(--br-5xs);
  width: 421px;
  height: 111px;
}
.chi-tit-o-ba-l-child20,
.chi-tit-o-ba-l-child21,
.chi-tit-o-ba-l-child22 {
  top: 1373px;
  width: 197px;
  height: 36px;
}
.chi-tit-o-ba-l-child21,
.chi-tit-o-ba-l-child22 {
  left: 1069px;
}
.chi-tit-o-ba-l-child22 {
  top: 1438px;
  left: 845px;
  border-radius: var(--br-11xs);
  width: 11px;
  height: 11px;
}
.lu-tn-ca2,
.ny-cho-ln2 {
  position: absolute;
  top: 1433px;
  left: 869px;
  font-size: var(--font-size-mini);
  display: flex;
  align-items: center;
  width: 386px;
  height: 21px;
}
.ny-cho-ln2 {
  top: 1465px;
  left: 842px;
}
.chi-tit-o-ba-l-child23 {
  position: absolute;
  top: 1496px;
  left: 841px;
  background-color: var(--color-teal-200);
  width: 87px;
  height: 36px;
}
.gi-i2 {
  position: absolute;
  top: 1499px;
  left: 843px;
  font-size: var(--font-size-mini);
  display: flex;
  color: var(--color-white);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 32px;
}
.group-child92 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 1440px;
  height: 89px;
}
.logo-mixi-tt-1-icon12 {
  position: absolute;
  top: 18px;
  left: 17px;
  width: 89px;
  height: 53px;
  object-fit: cover;
  cursor: pointer;
}
.home23 {
  position: absolute;
  top: -23px;
  left: -86px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.home-wrapper21 {
  overflow: hidden;
}
.frame-wrapper164,
.frame-wrapper165,
.frame-wrapper166,
.home-wrapper21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 14px;
}
.frame-wrapper164,
.frame-wrapper165 {
  top: 8px;
  left: 4px;
}
.frame-wrapper164 {
  top: -9px;
  width: 69px;
  height: 34px;
}
.danh-mc-sn19,
.frame-wrapper163 {
  position: absolute;
  top: 39px;
  left: 301px;
  width: 77px;
  height: 29px;
  cursor: pointer;
}
.danh-mc-sn19 {
  top: -15px;
  left: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.danh-mc-sn-phm-wrapper10 {
  position: absolute;
  top: 0;
  left: -16px;
  width: 221px;
  height: 34px;
  overflow: hidden;
}
.frame-wrapper167,
.thng-bo12 {
  position: absolute;
  top: 30px;
  left: 454px;
  width: 189px;
  height: 30px;
}
.thng-bo12 {
  top: -13px;
  left: -55px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.frame-child9,
.thng-bo-wrapper10 {
  position: absolute;
  top: 28px;
  left: 720px;
  width: 123px;
  height: 32px;
  overflow: hidden;
}
.frame-child9 {
  top: 6px;
  left: 10px;
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.frame-wrapper168 {
  position: absolute;
  top: 5px;
  left: 1357px;
  width: 72px;
  height: 72px;
}
.paper-bag-icon12 {
  position: absolute;
  top: 24px;
  left: 1293px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  cursor: pointer;
}
.rectangle-parent90 {
  width: 1440px;
  position: relative;
  height: 89px;
}
.menu12 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-mid);
}
.male-user-icon24,
.trang-ch10 {
  position: absolute;
  cursor: pointer;
}
.male-user-icon24 {
  top: 17px;
  left: 1355px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.trang-ch10 {
  top: 129px;
  left: 106px;
  font-size: var(--font-size-4xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 14px;
}
.chi-tit-o-ba-l-child24 {
  position: absolute;
  top: 131px;
  left: 166px;
  width: 3px;
  height: 8px;
  object-fit: contain;
}
.ca-hng10 {
  top: 131px;
  left: 163px;
  font-size: var(--font-size-3xs);
  white-space: pre-wrap;
  width: 77px;
  height: 12px;
  cursor: pointer;
}
.ca-hng10,
.home24,
.o-ba-l54 {
  position: absolute;
  display: flex;
  align-items: center;
}
.o-ba-l54 {
  top: 131px;
  left: 242px;
  font-size: var(--font-size-3xs);
  width: 59px;
  height: 12px;
  cursor: pointer;
}
.home24 {
  top: -5px;
  left: -60px;
  justify-content: center;
  width: 170px;
  height: 30px;
}
.home-wrapper22 {
  position: absolute;
  top: 35px;
  left: 315px;
  width: 49px;
  height: 21px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-mid);
}
.chi-tit-o-ba-l1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2019px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-arial);
}
