.group-child115 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  border: 2px solid var(--color-gray);
  box-sizing: border-box;
  width: 1440px;
  height: 345px;
}
.v-chng-ti35 {
  letter-spacing: 0.01em;
}
.v-chng-ti34 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.website-chnh-thc17 {
  margin: 0;
  font-size: var(--font-size-lgi);
  letter-spacing: -0.01em;
  line-height: 121.06%;
  font-weight: 300;
}
.v-chng-ti-container17 {
  position: absolute;
  top: 53px;
  left: 55px;
  color: var(--color-black);
  display: inline-block;
  width: 371px;
  height: 292px;
  font-size: var(--font-size-6xl);
}
.thng-tin35 {
  margin-block-start: 0;
  margin-block-end: 11px;
}
.thng-tin34 {
  position: absolute;
  top: 53px;
  left: 725px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  color: var(--color-black);
  width: 350px;
  height: 40px;
}
.blank-line273 {
  margin-block-start: 0;
  margin-block-end: 2px;
  font-size: var(--font-size-lgi);
}
.mi-thc-mc17 {
  font-weight: 300;
}
.fanpage-v-instagram34 {
  margin: 0;
}
.mi-thc-mc-container17 {
  position: absolute;
  top: 58px;
  left: 990px;
  letter-spacing: 0.03em;
  line-height: 121.25%;
  color: var(--color-black);
  display: inline-block;
  width: 395px;
  height: 296px;
  font-size: var(--font-size-6xl);
}
.blank-line274 {
  margin: 0;
  font-size: var(--font-size-8xl);
  font-weight: 300;
}
.danh-mc-sn-container17,
.h-tr17 {
  position: absolute;
  top: 53px;
  left: 418px;
  color: var(--color-black);
  display: inline-block;
  width: 350px;
  height: 40px;
  font-size: var(--font-size-6xl);
}
.h-tr17 {
  left: 993px;
}
.o-ba-l70 {
  margin-bottom: 10px;
}
.o-ba-l69 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-ba-l-container32 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  display: inline-block;
  width: 124px;
  height: 35px;
  cursor: pointer;
}
.frame-wrapper223,
.o-ba-l-wrapper23 {
  position: absolute;
  top: 0;
  left: -9px;
  width: 111px;
  height: 26px;
  overflow: hidden;
}
.frame-wrapper223 {
  top: 145px;
  left: 426px;
  width: 108px;
}
.lu-nim-mixi-container37 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  display: inline-block;
  width: 302px;
  height: 35px;
}
.frame-wrapper224,
.lu-nim-mixi-wrapper23 {
  position: absolute;
  top: 0;
  left: 0;
  width: 198px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper224 {
  top: 187px;
  left: 417px;
  width: 193px;
  cursor: pointer;
}
.frame-wrapper225,
.o-refund-gaming-wrapper23 {
  position: absolute;
  top: 0;
  left: 0;
  width: 214px;
  height: 28px;
  overflow: hidden;
}
.frame-wrapper225 {
  top: 229px;
  left: 417px;
  cursor: pointer;
}
.frame-wrapper226,
.o-csgo-wrapper23 {
  position: absolute;
  top: 0;
  left: 0;
  width: 123px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper226 {
  top: 271px;
  left: 417px;
  cursor: pointer;
}
.chnh-sch-bo-container17,
.gii-thiu34,
.iu-khon34,
.o-mixi81,
.sitemap34 {
  position: absolute;
  top: 103px;
  left: 717px;
  font-weight: 300;
  display: inline-block;
  width: 295px;
  height: 35px;
}
.chnh-sch-bo-container17,
.iu-khon34,
.o-mixi81,
.sitemap34 {
  top: 145px;
}
.iu-khon34,
.o-mixi81,
.sitemap34 {
  top: 187px;
}
.o-mixi81,
.sitemap34 {
  top: 229px;
}
.o-mixi81 {
  top: 0;
  left: 0;
  width: 114px;
  cursor: pointer;
}
.frame-wrapper227,
.o-mixi-wrapper23 {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper227 {
  top: 103px;
  left: 418px;
}
.upward-arrow-icon17 {
  position: absolute;
  top: 271px;
  left: 1360px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}
.chi-tit-o-mixi-inner1,
.frame-wrapper221,
.rectangle-parent113 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 354px;
}
.chi-tit-o-mixi-inner1,
.frame-wrapper221 {
  height: 345px;
  overflow: hidden;
}
.chi-tit-o-mixi-inner1 {
  top: 1674px;
  font-size: var(--font-size-2xl);
  color: var(--color-teal-200);
  font-family: var(--font-inter);
}
.b31,
.o-phng-mixi {
  position: absolute;
  top: 176px;
  left: 747px;
  font-size: var(--font-size-9xl);
  display: flex;
  align-items: center;
  width: 408px;
  height: 50px;
}
.b31 {
  top: 302px;
  width: 136px;
}
.chi-tit-o-mixi-child11 {
  position: absolute;
  top: 239px;
  left: 746px;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 99px;
  height: 2px;
}
.bng-size-chi7,
.nh-gi-ca14 {
  position: absolute;
  left: 747px;
  display: flex;
  align-items: center;
  height: 34px;
}
.nh-gi-ca14 {
  top: 254px;
  color: var(--color-teal-200);
  width: 260px;
}
.bng-size-chi7 {
  top: 366px;
  width: 139px;
}
.danh-mc7 {
  top: 954px;
  left: 747px;
  width: 89px;
}
.danh-mc7,
.o-mixi84,
.size-o-phng1 {
  position: absolute;
  display: flex;
  align-items: center;
  height: 34px;
}
.o-mixi84 {
  top: 954px;
  left: 842px;
  color: var(--color-teal-200);
  width: 89px;
  cursor: pointer;
}
.size-o-phng1 {
  top: 808px;
  left: 747px;
  width: 149px;
}
.size-3-lo-1400x800-1-icon7 {
  position: absolute;
  top: 414px;
  left: 747px;
  width: 610px;
  height: 370px;
  object-fit: cover;
}
.group-child116 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-4xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-teal-200);
  box-sizing: border-box;
  width: 91px;
  height: 33px;
}
.m7 {
  position: absolute;
  top: 3px;
  left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 26px;
}
.rectangle-parent114,
.rectangle-parent115,
.rectangle-parent116,
.rectangle-parent117 {
  position: absolute;
  top: 808px;
  left: 935px;
  width: 91px;
  height: 33px;
  text-align: center;
}
.rectangle-parent115,
.rectangle-parent116,
.rectangle-parent117 {
  left: 1046px;
}
.rectangle-parent116,
.rectangle-parent117 {
  left: 1157px;
}
.rectangle-parent117 {
  left: 1268px;
}
.chi-tit-o-mixi-child12 {
  position: absolute;
  top: 874px;
  left: 747px;
  border-radius: var(--br-lgi-5);
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 103px;
  height: 39px;
}
.chi-tit-o-mixi-child13,
.chi-tit-o-mixi-child14 {
  position: absolute;
  top: 873.5px;
  left: 770.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 40px;
}
.chi-tit-o-mixi-child14 {
  left: 825.5px;
}
.b32,
.b33,
.b34 {
  position: absolute;
  top: 879px;
  left: 752px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 30px;
}
.b33,
.b34 {
  left: 827px;
}
.b34 {
  left: 790px;
}
.group-child120,
.thm-vo-gi7 {
  position: absolute;
  top: 0;
  height: 39px;
}
.group-child120 {
  left: 0;
  border-radius: var(--br-lgi-5);
  background-color: var(--color-orangered);
  width: 210px;
}
.thm-vo-gi7 {
  left: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 192px;
}
.rectangle-parent118 {
  position: absolute;
  top: 874px;
  left: 934px;
  width: 210px;
  height: 39px;
  text-align: center;
  color: var(--color-white);
}
.nh-gi-47,
.thng-tin-b8 {
  position: absolute;
  top: 1064px;
  left: 106px;
  font-size: var(--font-size-smi);
  display: inline-block;
  width: 137px;
  height: 22px;
}
.nh-gi-47 {
  left: 254px;
}
.line-27-stroke8,
.nh-gi-cho7 {
  position: absolute;
  top: 1056px;
  left: 255px;
  width: 86px;
  height: 2px;
}
.nh-gi-cho7 {
  top: 1112px;
  left: 106px;
  font-size: var(--font-size-xl);
  display: flex;
  white-space: pre-wrap;
  align-items: center;
  width: 439px;
  height: 23px;
}
.male-user-icon45,
.male-user-icon46 {
  position: absolute;
  top: 1161px;
  left: 123px;
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.male-user-icon46 {
  top: 1283px;
}
.male-user-icon47,
.male-user-icon48,
.pngtreeshiny-yellow-star-icon245 {
  position: absolute;
  top: 1405px;
  left: 123px;
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.male-user-icon48,
.pngtreeshiny-yellow-star-icon245 {
  top: 1527px;
}
.pngtreeshiny-yellow-star-icon245 {
  top: 0;
  left: 0;
  width: 16.7px;
  height: 14.6px;
}
.pngtreeshiny-yellow-star-icon246,
.pngtreeshiny-yellow-star-icon247 {
  position: absolute;
  top: 0;
  left: 16.7px;
  width: 16.7px;
  height: 14.6px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon247 {
  left: 33.5px;
}
.pngtreeshiny-yellow-star-icon248,
.pngtreeshiny-yellow-star-icon249 {
  position: absolute;
  top: 0;
  left: 50.2px;
  width: 16.7px;
  height: 14.6px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon249 {
  left: 66.9px;
}
.pngtreeshiny-yellow-star-icon-parent33,
.pngtreeshiny-yellow-star-icon-parent34 {
  position: absolute;
  top: 1171px;
  left: 201px;
  width: 83.7px;
  height: 14.6px;
}
.pngtreeshiny-yellow-star-icon-parent34 {
  top: 1293px;
}
.pngtreeshiny-yellow-star-icon-parent35,
.pngtreeshiny-yellow-star-icon-parent36 {
  position: absolute;
  top: 1415px;
  left: 201px;
  width: 83.7px;
  height: 14.6px;
}
.pngtreeshiny-yellow-star-icon-parent36 {
  top: 1537px;
}
.ging-14-container7,
.hng-14-container7,
.lng-13-container7 {
  position: absolute;
  top: 1196px;
  left: 203px;
  font-size: var(--font-size-smi);
  letter-spacing: 0.08em;
  display: inline-block;
  width: 199px;
  height: 19px;
}
.ging-14-container7,
.lng-13-container7 {
  top: 1318px;
  left: 205px;
}
.ging-14-container7 {
  top: 1440px;
  left: 203px;
}
.cht-vi-siu7,
.lc-14-container7,
.o-p-xut7,
.phi-ni-l7,
.shop-uy-tn7 {
  position: absolute;
  left: 205px;
  font-size: var(--font-size-smi);
  letter-spacing: 0.08em;
}
.lc-14-container7 {
  top: 1562px;
  display: inline-block;
  width: 199px;
  height: 19px;
}
.cht-vi-siu7,
.o-p-xut7,
.phi-ni-l7,
.shop-uy-tn7 {
  top: 1219px;
  display: flex;
  align-items: center;
  width: 369px;
  height: 21px;
}
.cht-vi-siu7,
.phi-ni-l7,
.shop-uy-tn7 {
  top: 1341px;
}
.phi-ni-l7,
.shop-uy-tn7 {
  top: 1463px;
}
.shop-uy-tn7 {
  top: 1585px;
}
.chi-tit-o-mixi-child15 {
  position: absolute;
  top: 1064px;
  left: 811px;
  background-color: var(--color-white);
  border: 2px solid var(--color-teal-200);
  box-sizing: border-box;
  width: 485px;
  height: 538px;
}
.pngtreeshiny-yellow-star-icon265 {
  position: absolute;
  top: 0;
  left: 237px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon266,
.pngtreeshiny-yellow-star-icon267 {
  position: absolute;
  top: 0;
  left: 257.6px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon267 {
  left: 278.3px;
}
.pngtreeshiny-yellow-star-icon268,
.pngtreeshiny-yellow-star-icon269 {
  position: absolute;
  top: 0;
  left: 298.9px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon269 {
  left: 319.5px;
}
.pngtreeshiny-yellow-star-icon270,
.pngtreeshiny-yellow-star-icon271 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon271 {
  left: 29px;
}
.pngtreeshiny-yellow-star-icon272,
.pngtreeshiny-yellow-star-icon273 {
  position: absolute;
  top: 0;
  left: 46px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon273 {
  left: 75px;
}
.pngtreeshiny-yellow-star-icon274,
.pngtreeshiny-yellow-star-icon275 {
  position: absolute;
  top: 0;
  left: 92px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon275 {
  left: 109px;
}
.pngtreeshiny-yellow-star-icon276,
.pngtreeshiny-yellow-star-icon277 {
  position: absolute;
  top: 0;
  left: 146px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon277 {
  left: 164px;
}
.pngtreeshiny-yellow-star-icon278,
.pngtreeshiny-yellow-star-icon279 {
  position: absolute;
  top: 0;
  left: 182px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon279 {
  left: 200px;
}
.pngtreeshiny-yellow-star-icon-parent37 {
  position: absolute;
  top: 1153px;
  left: 839px;
  width: 340.1px;
  height: 18px;
}
.email8,
.nh-gi-ca15,
.nhn-xt-ca7,
.thm-nh-gi7,
.tn7 {
  position: absolute;
  top: 1080px;
  left: 842px;
  font-size: var(--font-size-xl);
  display: flex;
  align-items: center;
  width: 159px;
  height: 31px;
}
.email8,
.nh-gi-ca15,
.nhn-xt-ca7,
.tn7 {
  top: 1111px;
  font-size: var(--font-size-mini);
}
.email8,
.nhn-xt-ca7,
.tn7 {
  top: 1178px;
}
.email8,
.tn7 {
  top: 1341px;
}
.email8 {
  left: 1069px;
}
.chi-tit-o-mixi-child16,
.chi-tit-o-mixi-child17,
.chi-tit-o-mixi-child18,
.chi-tit-o-mixi-child19 {
  position: absolute;
  left: 842px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
}
.chi-tit-o-mixi-child16 {
  top: 1211px;
  border-radius: var(--br-5xs);
  width: 421px;
  height: 111px;
}
.chi-tit-o-mixi-child17,
.chi-tit-o-mixi-child18,
.chi-tit-o-mixi-child19 {
  top: 1373px;
  width: 197px;
  height: 36px;
}
.chi-tit-o-mixi-child18,
.chi-tit-o-mixi-child19 {
  left: 1069px;
}
.chi-tit-o-mixi-child19 {
  top: 1438px;
  left: 845px;
  border-radius: var(--br-11xs);
  width: 11px;
  height: 11px;
}
.lu-tn-ca7,
.ny-cho-ln7 {
  position: absolute;
  top: 1433px;
  left: 869px;
  font-size: var(--font-size-mini);
  display: flex;
  align-items: center;
  width: 386px;
  height: 21px;
}
.ny-cho-ln7 {
  top: 1465px;
  left: 842px;
}
.chi-tit-o-mixi-child20 {
  position: absolute;
  top: 1496px;
  left: 841px;
  background-color: var(--color-teal-200);
  width: 87px;
  height: 36px;
}
.gi-i7 {
  position: absolute;
  top: 1499px;
  left: 843px;
  font-size: var(--font-size-mini);
  display: flex;
  color: var(--color-white);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 32px;
}
.group-child121,
.group-child122,
.group-child123,
.group-child124 {
  position: absolute;
  top: 0;
  left: 0;
  width: 537px;
  height: 805px;
  object-fit: cover;
}
.group-child122,
.group-child123,
.group-child124 {
  left: 537px;
}
.group-child123,
.group-child124 {
  left: 1074px;
}
.group-child124 {
  left: 1611px;
}
.group-wrapper16,
.rectangle-parent119 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2148px;
  height: 805px;
}
.group-wrapper16 {
  left: 109px;
  width: 537px;
  overflow: hidden;
}
.group-child125,
.group-child126,
.group-child127,
.group-child128 {
  position: absolute;
  top: 0;
  left: 0;
  width: 89px;
  height: 113px;
  object-fit: cover;
}
.group-child126,
.group-child127,
.group-child128 {
  top: 153px;
  opacity: 0.3;
}
.group-child127,
.group-child128 {
  top: 306px;
}
.group-child128 {
  top: 459px;
}
.frame-group {
  width: 646px;
  position: relative;
  height: 805px;
}
.chi-tit-o-mixi-inner2 {
  position: absolute;
  top: 195px;
  left: 62px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-child129 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 1440px;
  height: 89px;
}
.logo-mixi-tt-1-icon17 {
  position: absolute;
  top: 18px;
  left: 17px;
  width: 89px;
  height: 53px;
  object-fit: cover;
  cursor: pointer;
}
.home33 {
  position: absolute;
  top: -23px;
  left: -86px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.home-wrapper31 {
  overflow: hidden;
}
.frame-wrapper229,
.frame-wrapper230,
.frame-wrapper231,
.home-wrapper31 {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 14px;
}
.frame-wrapper229,
.frame-wrapper230 {
  top: 8px;
  left: 4px;
}
.frame-wrapper229 {
  top: -9px;
  width: 69px;
  height: 34px;
}
.danh-mc-sn24,
.frame-wrapper228 {
  position: absolute;
  top: 39px;
  left: 301px;
  width: 77px;
  height: 29px;
  cursor: pointer;
}
.danh-mc-sn24 {
  top: -15px;
  left: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.danh-mc-sn-phm-wrapper15 {
  position: absolute;
  top: 0;
  left: -16px;
  width: 221px;
  height: 34px;
  overflow: hidden;
}
.frame-wrapper232,
.thng-bo17 {
  position: absolute;
  top: 30px;
  left: 454px;
  width: 189px;
  height: 30px;
}
.thng-bo17 {
  top: -13px;
  left: -55px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.frame-child14,
.thng-bo-wrapper15 {
  position: absolute;
  top: 28px;
  left: 720px;
  width: 123px;
  height: 32px;
  overflow: hidden;
}
.frame-child14 {
  top: 6px;
  left: 10px;
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.frame-wrapper233 {
  position: absolute;
  top: 5px;
  left: 1357px;
  width: 72px;
  height: 72px;
}
.paper-bag-icon17 {
  position: absolute;
  top: 24px;
  left: 1293px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  cursor: pointer;
}
.rectangle-parent120 {
  width: 1440px;
  position: relative;
  height: 89px;
}
.menu17 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-mid);
}
.male-user-icon49,
.trang-ch15 {
  position: absolute;
  cursor: pointer;
}
.male-user-icon49 {
  top: 17px;
  left: 1355px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.trang-ch15 {
  top: 129px;
  left: 106px;
  font-size: var(--font-size-4xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 14px;
}
.chi-tit-o-mixi-child21 {
  position: absolute;
  top: 131px;
  left: 166px;
  width: 3px;
  height: 8px;
  object-fit: contain;
}
.ca-hng15 {
  top: 131px;
  left: 166px;
  font-size: var(--font-size-3xs);
  white-space: pre-wrap;
  width: 73px;
  height: 12px;
  cursor: pointer;
}
.ca-hng15,
.home34,
.o-mixi85 {
  position: absolute;
  display: flex;
  align-items: center;
}
.o-mixi85 {
  top: 131px;
  left: 242px;
  font-size: var(--font-size-3xs);
  width: 59px;
  height: 12px;
  cursor: pointer;
}
.home34 {
  top: -5px;
  left: -60px;
  justify-content: center;
  width: 170px;
  height: 30px;
}
.home-wrapper32 {
  position: absolute;
  top: 35px;
  left: 315px;
  width: 49px;
  height: 21px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-mid);
}
.chi-tit-o-mixi1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2019px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-arial);
}
