.group-child144 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  border: 2px solid var(--color-gray);
  box-sizing: border-box;
  width: 1440px;
  height: 345px;
}
.v-chng-ti39 {
  letter-spacing: 0.01em;
}
.v-chng-ti38 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.website-chnh-thc19 {
  margin: 0;
  font-size: var(--font-size-lgi);
  letter-spacing: -0.01em;
  line-height: 121.06%;
  font-weight: 300;
}
.v-chng-ti-container19 {
  position: absolute;
  top: 53px;
  left: 55px;
  color: var(--color-black);
  display: inline-block;
  width: 371px;
  height: 292px;
  font-size: var(--font-size-6xl);
}
.thng-tin39 {
  margin-block-start: 0;
  margin-block-end: 11px;
}
.thng-tin38 {
  position: absolute;
  top: 53px;
  left: 725px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  color: var(--color-black);
  width: 350px;
  height: 40px;
}
.blank-line283 {
  margin-block-start: 0;
  margin-block-end: 2px;
  font-size: var(--font-size-lgi);
}
.mi-thc-mc19 {
  font-weight: 300;
}
.fanpage-v-instagram38 {
  margin: 0;
}
.mi-thc-mc-container19 {
  position: absolute;
  top: 58px;
  left: 990px;
  letter-spacing: 0.03em;
  line-height: 121.25%;
  color: var(--color-black);
  display: inline-block;
  width: 395px;
  height: 296px;
  font-size: var(--font-size-6xl);
}
.blank-line284 {
  margin: 0;
  font-size: var(--font-size-8xl);
  font-weight: 300;
}
.danh-mc-sn-container19,
.h-tr19 {
  position: absolute;
  top: 53px;
  left: 418px;
  color: var(--color-black);
  display: inline-block;
  width: 350px;
  height: 40px;
  font-size: var(--font-size-6xl);
}
.h-tr19 {
  left: 993px;
}
.o-ba-l74 {
  margin-bottom: 10px;
}
.o-ba-l73 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-ba-l-container34 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  display: inline-block;
  width: 117px;
  height: 35px;
  cursor: pointer;
}
.frame-wrapper249,
.o-ba-l-wrapper25 {
  position: absolute;
  top: 0;
  left: -9px;
  width: 111px;
  height: 26px;
  overflow: hidden;
}
.frame-wrapper249 {
  top: 145px;
  left: 426px;
  width: 108px;
}
.lu-nim-mixi-container39 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  display: inline-block;
  width: 302px;
  height: 35px;
}
.frame-wrapper250,
.lu-nim-mixi-wrapper25 {
  position: absolute;
  top: 0;
  left: 0;
  width: 198px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper250 {
  top: 187px;
  left: 417px;
  width: 193px;
  cursor: pointer;
}
.frame-wrapper251,
.o-refund-gaming-wrapper25 {
  position: absolute;
  top: 0;
  left: 0;
  width: 214px;
  height: 28px;
  overflow: hidden;
}
.frame-wrapper251 {
  top: 229px;
  left: 417px;
  cursor: pointer;
}
.frame-wrapper252,
.o-csgo-wrapper25 {
  position: absolute;
  top: 0;
  left: 0;
  width: 123px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper252 {
  top: 271px;
  left: 417px;
  cursor: pointer;
}
.chnh-sch-bo-container19,
.gii-thiu38,
.iu-khon38,
.o-mixi89,
.sitemap38 {
  position: absolute;
  top: 103px;
  left: 717px;
  font-weight: 300;
  display: inline-block;
  width: 295px;
  height: 35px;
}
.chnh-sch-bo-container19,
.iu-khon38,
.o-mixi89,
.sitemap38 {
  top: 145px;
}
.iu-khon38,
.o-mixi89,
.sitemap38 {
  top: 187px;
}
.o-mixi89,
.sitemap38 {
  top: 229px;
}
.o-mixi89 {
  top: 0;
  left: 0;
  width: 114px;
  cursor: pointer;
}
.frame-wrapper253,
.o-mixi-wrapper25 {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper253 {
  top: 103px;
  left: 418px;
}
.upward-arrow-icon19 {
  position: absolute;
  top: 271px;
  left: 1360px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}
.rectangle-parent128 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 354px;
}
.chi-tit-lu-nim-mixi-inner2,
.frame-wrapper247 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 345px;
  overflow: hidden;
}
.chi-tit-lu-nim-mixi-inner2 {
  top: 1112px;
  font-size: var(--font-size-2xl);
  color: var(--color-teal-200);
  font-family: var(--font-inter);
}
.b-ghp-hnh,
.b39 {
  position: absolute;
  top: 176px;
  left: 747px;
  font-size: var(--font-size-9xl);
  display: flex;
  align-items: center;
  width: 501px;
  height: 50px;
}
.b39 {
  top: 302px;
  width: 136px;
}
.chi-tit-lu-nim-mixi-child4 {
  position: absolute;
  top: 239px;
  left: 746px;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 99px;
  height: 2px;
}
.danh-mc9,
.lu-nim-mixi70,
.nh-gi-ca17 {
  position: absolute;
  left: 747px;
  display: flex;
  align-items: center;
  height: 34px;
}
.nh-gi-ca17 {
  top: 254px;
  color: var(--color-teal-200);
  width: 260px;
}
.danh-mc9,
.lu-nim-mixi70 {
  top: 488px;
  width: 89px;
}
.lu-nim-mixi70 {
  left: 842px;
  color: var(--color-teal-200);
  width: 163px;
  cursor: pointer;
}
.chi-tit-lu-nim-mixi-child5 {
  position: absolute;
  top: 408px;
  left: 747px;
  border-radius: var(--br-lgi-5);
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 103px;
  height: 39px;
}
.chi-tit-lu-nim-mixi-child6,
.chi-tit-lu-nim-mixi-child7 {
  position: absolute;
  top: 407.5px;
  left: 770.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 40px;
}
.chi-tit-lu-nim-mixi-child7 {
  left: 825.5px;
}
.b40,
.b41,
.b42 {
  position: absolute;
  top: 413px;
  left: 752px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 30px;
}
.b41,
.b42 {
  left: 827px;
}
.b42 {
  left: 790px;
}
.group-child145,
.thm-vo-gi9 {
  position: absolute;
  top: 0;
  height: 39px;
}
.group-child145 {
  left: 0;
  border-radius: var(--br-lgi-5);
  background-color: var(--color-orangered);
  width: 210px;
}
.thm-vo-gi9 {
  left: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 192px;
}
.rectangle-parent129 {
  position: absolute;
  top: 408px;
  left: 934px;
  width: 210px;
  height: 39px;
  text-align: center;
  color: var(--color-white);
}
.group-child146,
.group-child147,
.group-child148,
.group-child149 {
  position: absolute;
  top: 0;
  left: 0;
  width: 537px;
  height: 805px;
  object-fit: cover;
}
.group-child147,
.group-child148,
.group-child149 {
  left: 537px;
}
.group-child148,
.group-child149 {
  left: 1074px;
}
.group-child149 {
  left: 1611px;
}
.group-wrapper20,
.rectangle-parent130 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2148px;
  height: 805px;
}
.group-wrapper20 {
  left: 109px;
  width: 537px;
  overflow: hidden;
}
.group-child150,
.group-child151,
.group-child152,
.group-child153 {
  position: absolute;
  top: 0;
  left: 0;
  width: 89px;
  height: 113px;
  object-fit: cover;
}
.group-child151,
.group-child152,
.group-child153 {
  top: 153px;
  opacity: 0.3;
}
.group-child152,
.group-child153 {
  top: 306px;
}
.group-child153 {
  top: 459px;
}
.frame-parent2 {
  width: 646px;
  position: relative;
  height: 805px;
}
.chi-tit-lu-nim-mixi-inner3 {
  position: absolute;
  top: 195px;
  left: 62px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-child154 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 1440px;
  height: 89px;
}
.logo-mixi-tt-1-icon19 {
  position: absolute;
  top: 18px;
  left: 17px;
  width: 89px;
  height: 53px;
  object-fit: cover;
  cursor: pointer;
}
.home37 {
  position: absolute;
  top: -23px;
  left: -86px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.home-wrapper35 {
  overflow: hidden;
}
.frame-wrapper255,
.frame-wrapper256,
.frame-wrapper257,
.home-wrapper35 {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 14px;
}
.frame-wrapper255,
.frame-wrapper256 {
  top: 8px;
  left: 4px;
}
.frame-wrapper255 {
  top: -9px;
  width: 69px;
  height: 34px;
}
.danh-mc-sn26,
.frame-wrapper254 {
  position: absolute;
  top: 39px;
  left: 301px;
  width: 77px;
  height: 29px;
  cursor: pointer;
}
.danh-mc-sn26 {
  top: -15px;
  left: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.danh-mc-sn-phm-wrapper17 {
  position: absolute;
  top: 0;
  left: -16px;
  width: 221px;
  height: 34px;
  overflow: hidden;
}
.frame-wrapper258,
.thng-bo19 {
  position: absolute;
  top: 30px;
  left: 454px;
  width: 189px;
  height: 30px;
}
.thng-bo19 {
  top: -13px;
  left: -55px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.frame-child16,
.thng-bo-wrapper17 {
  position: absolute;
  top: 28px;
  left: 720px;
  width: 123px;
  height: 32px;
  overflow: hidden;
}
.frame-child16 {
  top: 6px;
  left: 10px;
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.frame-wrapper259 {
  position: absolute;
  top: 5px;
  left: 1357px;
  width: 72px;
  height: 72px;
}
.paper-bag-icon19 {
  position: absolute;
  top: 24px;
  left: 1293px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  cursor: pointer;
}
.rectangle-parent131 {
  width: 1440px;
  position: relative;
  height: 89px;
}
.menu19 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-mid);
}
.male-user-icon51,
.trang-ch17 {
  position: absolute;
  cursor: pointer;
}
.male-user-icon51 {
  top: 17px;
  left: 1355px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.trang-ch17 {
  top: 129px;
  left: 106px;
  font-size: var(--font-size-4xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 14px;
}
.chi-tit-lu-nim-mixi-child8 {
  position: absolute;
  top: 131px;
  left: 166px;
  width: 3px;
  height: 8px;
  object-fit: contain;
}
.ca-hng17 {
  top: 131px;
  left: 164px;
  font-size: var(--font-size-3xs);
  white-space: pre-wrap;
  width: 80px;
  height: 12px;
  cursor: pointer;
}
.ca-hng17,
.home38,
.lu-nim-mixi71 {
  position: absolute;
  display: flex;
  align-items: center;
}
.lu-nim-mixi71 {
  top: 131px;
  left: 242px;
  font-size: var(--font-size-3xs);
  width: 96px;
  height: 12px;
  cursor: pointer;
}
.home38 {
  top: -5px;
  left: -60px;
  justify-content: center;
  width: 170px;
  height: 30px;
}
.home-wrapper36 {
  position: absolute;
  top: 35px;
  left: 315px;
  width: 49px;
  height: 21px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-mid);
}
.chi-tit-lu-nim-mixi1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1457px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-arial);
}
