.group-child130 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  border: 2px solid var(--color-gray);
  box-sizing: border-box;
  width: 1440px;
  height: 345px;
}
.v-chng-ti37 {
  letter-spacing: 0.01em;
}
.v-chng-ti36 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.website-chnh-thc18 {
  margin: 0;
  font-size: var(--font-size-lgi);
  letter-spacing: -0.01em;
  line-height: 121.06%;
  font-weight: 300;
}
.v-chng-ti-container18 {
  position: absolute;
  top: 53px;
  left: 55px;
  color: var(--color-black);
  display: inline-block;
  width: 371px;
  height: 292px;
  font-size: var(--font-size-6xl);
}
.thng-tin37 {
  margin-block-start: 0;
  margin-block-end: 11px;
}
.thng-tin36 {
  position: absolute;
  top: 53px;
  left: 725px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  color: var(--color-black);
  width: 350px;
  height: 40px;
}
.blank-line278 {
  margin-block-start: 0;
  margin-block-end: 2px;
  font-size: var(--font-size-lgi);
}
.mi-thc-mc18 {
  font-weight: 300;
}
.fanpage-v-instagram36 {
  margin: 0;
}
.mi-thc-mc-container18 {
  position: absolute;
  top: 58px;
  left: 990px;
  letter-spacing: 0.03em;
  line-height: 121.25%;
  color: var(--color-black);
  display: inline-block;
  width: 395px;
  height: 296px;
  font-size: var(--font-size-6xl);
}
.blank-line279 {
  margin: 0;
  font-size: var(--font-size-8xl);
  font-weight: 300;
}
.danh-mc-sn-container18,
.h-tr18 {
  position: absolute;
  top: 53px;
  left: 418px;
  color: var(--color-black);
  display: inline-block;
  width: 350px;
  height: 40px;
  font-size: var(--font-size-6xl);
}
.h-tr18 {
  left: 993px;
}
.o-ba-l72 {
  margin-bottom: 10px;
}
.o-ba-l71 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-ba-l-container33 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  display: inline-block;
  width: 117px;
  height: 35px;
  cursor: pointer;
}
.frame-wrapper236,
.o-ba-l-wrapper24 {
  position: absolute;
  top: 0;
  left: -9px;
  width: 111px;
  height: 26px;
  overflow: hidden;
}
.frame-wrapper236 {
  top: 145px;
  left: 426px;
  width: 108px;
}
.lu-nim-mixi-container38 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  display: inline-block;
  width: 302px;
  height: 35px;
}
.frame-wrapper237,
.lu-nim-mixi-wrapper24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 198px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper237 {
  top: 187px;
  left: 417px;
  width: 193px;
  cursor: pointer;
}
.frame-wrapper238,
.o-refund-gaming-wrapper24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 214px;
  height: 28px;
  overflow: hidden;
}
.frame-wrapper238 {
  top: 229px;
  left: 417px;
  cursor: pointer;
}
.frame-wrapper239,
.o-csgo-wrapper24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 123px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper239 {
  top: 271px;
  left: 417px;
  cursor: pointer;
}
.chnh-sch-bo-container18,
.gii-thiu36,
.iu-khon36,
.o-mixi86,
.sitemap36 {
  position: absolute;
  top: 103px;
  left: 717px;
  font-weight: 300;
  display: inline-block;
  width: 295px;
  height: 35px;
}
.chnh-sch-bo-container18,
.iu-khon36,
.o-mixi86,
.sitemap36 {
  top: 145px;
}
.iu-khon36,
.o-mixi86,
.sitemap36 {
  top: 187px;
}
.o-mixi86,
.sitemap36 {
  top: 229px;
}
.o-mixi86 {
  top: 0;
  left: 0;
  width: 114px;
  cursor: pointer;
}
.frame-wrapper240,
.o-mixi-wrapper24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper240 {
  top: 103px;
  left: 418px;
}
.upward-arrow-icon18 {
  position: absolute;
  top: 271px;
  left: 1360px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}
.rectangle-parent121 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 354px;
}
.chi-tit-lu-nim-mixi-inner,
.frame-wrapper234 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 345px;
  overflow: hidden;
}
.chi-tit-lu-nim-mixi-inner {
  top: 1112px;
  font-size: var(--font-size-2xl);
  color: var(--color-teal-200);
  font-family: var(--font-inter);
}
.trang-ch16 {
  position: absolute;
  top: 129px;
  left: 106px;
  font-size: var(--font-size-4xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 14px;
  cursor: pointer;
}
.chi-tit-lu-nim-mixi-child {
  position: absolute;
  top: 131px;
  left: 166px;
  width: 3px;
  height: 8px;
  object-fit: contain;
}
.ca-hng16 {
  top: 131px;
  left: 164px;
  font-size: var(--font-size-3xs);
  white-space: pre-wrap;
  width: 80px;
  height: 12px;
  cursor: pointer;
}
.b35,
.ca-hng16,
.cc-mixi-1200ml2,
.lu-nim-mixi66 {
  position: absolute;
  display: flex;
  align-items: center;
}
.lu-nim-mixi66 {
  top: 131px;
  left: 242px;
  font-size: var(--font-size-3xs);
  width: 96px;
  height: 12px;
  cursor: pointer;
}
.b35,
.cc-mixi-1200ml2 {
  top: 176px;
  left: 747px;
  font-size: var(--font-size-9xl);
  width: 408px;
  height: 50px;
}
.b35 {
  top: 302px;
  width: 136px;
}
.chi-tit-lu-nim-mixi-item {
  position: absolute;
  top: 239px;
  left: 746px;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 99px;
  height: 2px;
}
.nh-gi-ca16 {
  position: absolute;
  top: 254px;
  left: 747px;
  color: var(--color-teal-200);
  display: flex;
  align-items: center;
  width: 260px;
  height: 34px;
}
.danh-mc8 {
  top: 549px;
  left: 747px;
  width: 89px;
}
.danh-mc8,
.lu-nim-mixi67,
.mu {
  position: absolute;
  display: flex;
  align-items: center;
  height: 34px;
}
.lu-nim-mixi67 {
  top: 549px;
  left: 842px;
  color: var(--color-teal-200);
  width: 163px;
  cursor: pointer;
}
.mu {
  top: 403px;
  left: 747px;
  width: 43px;
}
.group-child131 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-4xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-teal-200);
  box-sizing: border-box;
  width: 91px;
  height: 33px;
}
.trng {
  position: absolute;
  top: 3px;
  left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 26px;
}
.rectangle-parent122,
.rectangle-parent123,
.rectangle-parent124 {
  position: absolute;
  top: 403px;
  left: 935px;
  width: 91px;
  height: 33px;
  text-align: center;
}
.rectangle-parent123,
.rectangle-parent124 {
  left: 1046px;
}
.rectangle-parent124 {
  left: 1157px;
}
.chi-tit-lu-nim-mixi-child1 {
  position: absolute;
  top: 469px;
  left: 747px;
  border-radius: var(--br-lgi-5);
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 103px;
  height: 39px;
}
.chi-tit-lu-nim-mixi-child2,
.chi-tit-lu-nim-mixi-child3 {
  position: absolute;
  top: 468.5px;
  left: 770.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 40px;
}
.chi-tit-lu-nim-mixi-child3 {
  left: 825.5px;
}
.b36,
.b37,
.b38 {
  position: absolute;
  top: 474px;
  left: 752px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 30px;
}
.b37,
.b38 {
  left: 827px;
}
.b38 {
  left: 790px;
}
.group-child134,
.thm-vo-gi8 {
  position: absolute;
  top: 0;
  height: 39px;
}
.group-child134 {
  left: 0;
  border-radius: var(--br-lgi-5);
  background-color: var(--color-orangered);
  width: 210px;
}
.thm-vo-gi8 {
  left: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 192px;
}
.rectangle-parent125 {
  position: absolute;
  top: 469px;
  left: 934px;
  width: 210px;
  height: 39px;
  text-align: center;
  color: var(--color-white);
}
.group-child135,
.group-child136,
.group-child137,
.group-child138 {
  position: absolute;
  top: 0;
  left: 0;
  width: 537px;
  height: 805px;
  object-fit: cover;
}
.group-child136,
.group-child137,
.group-child138 {
  left: 537px;
}
.group-child137,
.group-child138 {
  left: 1074px;
}
.group-child138 {
  left: 1611px;
}
.group-wrapper18,
.rectangle-parent126 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2148px;
  height: 805px;
}
.group-wrapper18 {
  left: 109px;
  width: 537px;
  overflow: hidden;
}
.group-child139,
.group-child140,
.group-child141,
.group-child142 {
  position: absolute;
  top: 0;
  left: 0;
  width: 89px;
  height: 113px;
  object-fit: cover;
}
.group-child140,
.group-child141,
.group-child142 {
  top: 153px;
  opacity: 0.3;
}
.group-child141,
.group-child142 {
  top: 306px;
}
.group-child142 {
  top: 459px;
}
.frame-parent1 {
  width: 646px;
  position: relative;
  height: 805px;
}
.chi-tit-lu-nim-mixi-inner1 {
  position: absolute;
  top: 195px;
  left: 62px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-child143 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 1440px;
  height: 89px;
}
.logo-mixi-tt-1-icon18 {
  position: absolute;
  top: 18px;
  left: 17px;
  width: 89px;
  height: 53px;
  object-fit: cover;
  cursor: pointer;
}
.home35 {
  position: absolute;
  top: -23px;
  left: -86px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.home-wrapper33 {
  overflow: hidden;
}
.frame-wrapper242,
.frame-wrapper243,
.frame-wrapper244,
.home-wrapper33 {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 14px;
}
.frame-wrapper242,
.frame-wrapper243 {
  top: 8px;
  left: 4px;
}
.frame-wrapper242 {
  top: -9px;
  width: 69px;
  height: 34px;
}
.danh-mc-sn25,
.frame-wrapper241 {
  position: absolute;
  top: 39px;
  left: 301px;
  width: 77px;
  height: 29px;
  cursor: pointer;
}
.danh-mc-sn25 {
  top: -15px;
  left: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.danh-mc-sn-phm-wrapper16 {
  position: absolute;
  top: 0;
  left: -16px;
  width: 221px;
  height: 34px;
  overflow: hidden;
}
.frame-wrapper245,
.thng-bo18 {
  position: absolute;
  top: 30px;
  left: 454px;
  width: 189px;
  height: 30px;
}
.thng-bo18 {
  top: -13px;
  left: -55px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.frame-child15,
.thng-bo-wrapper16 {
  position: absolute;
  top: 28px;
  left: 720px;
  width: 123px;
  height: 32px;
  overflow: hidden;
}
.frame-child15 {
  top: 6px;
  left: 10px;
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.frame-wrapper246 {
  position: absolute;
  top: 5px;
  left: 1357px;
  width: 72px;
  height: 72px;
}
.paper-bag-icon18 {
  position: absolute;
  top: 24px;
  left: 1293px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  cursor: pointer;
}
.rectangle-parent127 {
  width: 1440px;
  position: relative;
  height: 89px;
}
.menu18 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-mid);
}
.male-user-icon50 {
  position: absolute;
  top: 17px;
  left: 1355px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}
.home36 {
  position: absolute;
  top: -5px;
  left: -60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 30px;
}
.home-wrapper34 {
  position: absolute;
  top: 35px;
  left: 315px;
  width: 49px;
  height: 21px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-mid);
}
.chi-tit-lu-nim-mixi {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1457px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-arial);
}
