.group-child98 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  border: 2px solid var(--color-gray);
  box-sizing: border-box;
  width: 1440px;
  height: 345px;
}
.v-chng-ti29 {
  letter-spacing: 0.01em;
}
.v-chng-ti28 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.website-chnh-thc14 {
  margin: 0;
  font-size: var(--font-size-lgi);
  letter-spacing: -0.01em;
  line-height: 121.06%;
  font-weight: 300;
}
.v-chng-ti-container14 {
  position: absolute;
  top: 53px;
  left: 55px;
  color: var(--color-black);
  display: inline-block;
  width: 371px;
  height: 292px;
  font-size: var(--font-size-6xl);
}
.thng-tin29 {
  margin-block-start: 0;
  margin-block-end: 11px;
}
.thng-tin28 {
  position: absolute;
  top: 53px;
  left: 725px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  color: var(--color-black);
  width: 350px;
  height: 40px;
}
.blank-line258 {
  margin-block-start: 0;
  margin-block-end: 2px;
  font-size: var(--font-size-lgi);
}
.mi-thc-mc14 {
  font-weight: 300;
}
.fanpage-v-instagram28 {
  margin: 0;
}
.mi-thc-mc-container14 {
  position: absolute;
  top: 58px;
  left: 990px;
  letter-spacing: 0.03em;
  line-height: 121.25%;
  color: var(--color-black);
  display: inline-block;
  width: 395px;
  height: 296px;
  font-size: var(--font-size-6xl);
}
.blank-line259 {
  margin: 0;
  font-size: var(--font-size-8xl);
  font-weight: 300;
}
.danh-mc-sn-container14,
.h-tr14 {
  position: absolute;
  top: 53px;
  left: 418px;
  color: var(--color-black);
  display: inline-block;
  width: 350px;
  height: 40px;
  font-size: var(--font-size-6xl);
}
.h-tr14 {
  left: 993px;
}
.o-ba-l60 {
  margin-bottom: 10px;
}
.o-ba-l59 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-ba-l-container29 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  display: inline-block;
  width: 302px;
  height: 35px;
}
.frame-wrapper184,
.o-ba-l-wrapper20 {
  position: absolute;
  top: 0;
  left: -9px;
  width: 111px;
  height: 26px;
  overflow: hidden;
}
.frame-wrapper184 {
  top: 145px;
  left: 426px;
  width: 108px;
}
.frame-wrapper185,
.lu-nim-mixi-wrapper20 {
  position: absolute;
  top: 0;
  left: 0;
  width: 198px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper185 {
  top: 187px;
  left: 417px;
  width: 193px;
  cursor: pointer;
}
.frame-wrapper186,
.o-refund-gaming-wrapper20 {
  position: absolute;
  top: 0;
  left: 0;
  width: 214px;
  height: 28px;
  overflow: hidden;
}
.frame-wrapper186 {
  top: 229px;
  left: 417px;
  cursor: pointer;
}
.frame-wrapper187,
.o-csgo-wrapper20 {
  position: absolute;
  top: 0;
  left: 0;
  width: 123px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper187 {
  top: 271px;
  left: 417px;
  cursor: pointer;
}
.chnh-sch-bo-container14,
.gii-thiu28,
.iu-khon28,
.o-mixi70,
.sitemap28 {
  position: absolute;
  top: 103px;
  left: 717px;
  font-weight: 300;
  display: inline-block;
  width: 295px;
  height: 35px;
}
.chnh-sch-bo-container14,
.iu-khon28,
.o-mixi70,
.sitemap28 {
  top: 145px;
}
.iu-khon28,
.o-mixi70,
.sitemap28 {
  top: 187px;
}
.o-mixi70,
.sitemap28 {
  top: 229px;
}
.o-mixi70 {
  top: 0;
  left: 0;
  width: 114px;
  cursor: pointer;
}
.frame-wrapper188,
.o-mixi-wrapper20 {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper188 {
  top: 103px;
  left: 418px;
}
.upward-arrow-icon14 {
  position: absolute;
  top: 271px;
  left: 1360px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}
.chi-tit-o-ba-l-inner3,
.frame-wrapper182,
.rectangle-parent96 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 354px;
}
.chi-tit-o-ba-l-inner3,
.frame-wrapper182 {
  height: 345px;
  overflow: hidden;
}
.chi-tit-o-ba-l-inner3 {
  top: 1674px;
  font-size: var(--font-size-2xl);
  color: var(--color-teal-200);
  font-family: var(--font-inter);
}
.chi-tit-o-ba-l-child38 {
  position: absolute;
  top: 183px;
  left: 106px;
  width: 537px;
  height: 805px;
  object-fit: cover;
}
.b19,
.o-3-l6 {
  position: absolute;
  top: 176px;
  left: 747px;
  font-size: var(--font-size-9xl);
  display: flex;
  align-items: center;
  width: 260px;
  height: 50px;
}
.b19 {
  top: 302px;
  width: 564px;
}
.chi-tit-o-ba-l-child39 {
  position: absolute;
  top: 239px;
  left: 746px;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 99px;
  height: 2px;
}
.bng-size-chi4,
.nh-gi-ca8 {
  position: absolute;
  left: 747px;
  display: flex;
  align-items: center;
  height: 34px;
}
.nh-gi-ca8 {
  top: 254px;
  color: var(--color-teal-200);
  width: 260px;
}
.bng-size-chi4 {
  top: 366px;
  width: 139px;
}
.danh-mc4 {
  top: 954px;
  left: 747px;
  width: 89px;
}
.danh-mc4,
.o-ba-l61,
.size-ba-l4 {
  position: absolute;
  display: flex;
  align-items: center;
  height: 34px;
}
.o-ba-l61 {
  top: 954px;
  left: 842px;
  color: var(--color-teal-200);
  width: 89px;
  cursor: pointer;
}
.size-ba-l4 {
  top: 808px;
  left: 747px;
  width: 105px;
}
.size-3-lo-1400x800-1-icon4 {
  position: absolute;
  top: 414px;
  left: 747px;
  width: 610px;
  height: 370px;
  object-fit: cover;
}
.group-child99 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-4xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-teal-200);
  box-sizing: border-box;
  width: 91px;
  height: 33px;
}
.m4 {
  position: absolute;
  top: 3px;
  left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 26px;
}
.rectangle-parent97,
.rectangle-parent98,
.rectangle-parent99 {
  position: absolute;
  top: 808px;
  left: 935px;
  width: 91px;
  height: 33px;
  text-align: center;
}
.rectangle-parent98,
.rectangle-parent99 {
  left: 1046px;
}
.rectangle-parent99 {
  left: 1157px;
}
.chi-tit-o-ba-l-child40 {
  position: absolute;
  top: 874px;
  left: 747px;
  border-radius: var(--br-lgi-5);
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 103px;
  height: 39px;
}
.chi-tit-o-ba-l-child41,
.chi-tit-o-ba-l-child42 {
  position: absolute;
  top: 873.5px;
  left: 770.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 40px;
}
.chi-tit-o-ba-l-child42 {
  left: 825.5px;
}
.b20,
.b21,
.b22 {
  position: absolute;
  top: 879px;
  left: 754px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 30px;
}
.b21,
.b22 {
  left: 827px;
}
.b22 {
  left: 790px;
}
.chi-tit-o-ba-l-child43,
.thm-vo-gi4 {
  position: absolute;
  top: 874px;
  height: 39px;
}
.chi-tit-o-ba-l-child43 {
  left: 934px;
  border-radius: var(--br-lgi-5);
  background-color: var(--color-orangered);
  width: 210px;
}
.thm-vo-gi4 {
  left: 943px;
  display: flex;
  color: var(--color-white);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 192px;
}
.nh-gi-44,
.thng-tin-b5 {
  position: absolute;
  top: 1064px;
  left: 106px;
  font-size: var(--font-size-smi);
  display: inline-block;
  width: 137px;
  height: 22px;
}
.nh-gi-44 {
  left: 254px;
}
.line-27-stroke5,
.nh-gi-cho4 {
  position: absolute;
  top: 1056px;
  left: 255px;
  width: 86px;
  height: 2px;
}
.nh-gi-cho4 {
  top: 1112px;
  left: 106px;
  font-size: var(--font-size-xl);
  display: flex;
  white-space: pre-wrap;
  align-items: center;
  width: 347px;
  height: 23px;
}
.male-user-icon30,
.male-user-icon31 {
  position: absolute;
  top: 1161px;
  left: 123px;
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.male-user-icon31 {
  top: 1283px;
}
.male-user-icon32,
.male-user-icon33,
.pngtreeshiny-yellow-star-icon140 {
  position: absolute;
  top: 1405px;
  left: 123px;
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.male-user-icon33,
.pngtreeshiny-yellow-star-icon140 {
  top: 1527px;
}
.pngtreeshiny-yellow-star-icon140 {
  top: 0;
  left: 0;
  width: 16.7px;
  height: 14.6px;
}
.pngtreeshiny-yellow-star-icon141,
.pngtreeshiny-yellow-star-icon142 {
  position: absolute;
  top: 0;
  left: 16.7px;
  width: 16.7px;
  height: 14.6px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon142 {
  left: 33.5px;
}
.pngtreeshiny-yellow-star-icon143,
.pngtreeshiny-yellow-star-icon144 {
  position: absolute;
  top: 0;
  left: 50.2px;
  width: 16.7px;
  height: 14.6px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon144 {
  left: 66.9px;
}
.pngtreeshiny-yellow-star-icon-parent18,
.pngtreeshiny-yellow-star-icon-parent19 {
  position: absolute;
  top: 1171px;
  left: 201px;
  width: 83.7px;
  height: 14.6px;
}
.pngtreeshiny-yellow-star-icon-parent19 {
  top: 1293px;
}
.pngtreeshiny-yellow-star-icon-parent20,
.pngtreeshiny-yellow-star-icon-parent21 {
  position: absolute;
  top: 1415px;
  left: 201px;
  width: 83.7px;
  height: 14.6px;
}
.pngtreeshiny-yellow-star-icon-parent21 {
  top: 1537px;
}
.ging-14-container4,
.hng-14-container4,
.lng-13-container4 {
  position: absolute;
  top: 1196px;
  left: 203px;
  font-size: var(--font-size-smi);
  letter-spacing: 0.08em;
  display: inline-block;
  width: 199px;
  height: 19px;
}
.ging-14-container4,
.lng-13-container4 {
  top: 1318px;
  left: 205px;
}
.ging-14-container4 {
  top: 1440px;
  left: 203px;
}
.cht-vi-siu4,
.lc-14-container4,
.o-p-xut4,
.phi-ni-l4,
.shop-uy-tn4 {
  position: absolute;
  left: 205px;
  font-size: var(--font-size-smi);
  letter-spacing: 0.08em;
}
.lc-14-container4 {
  top: 1562px;
  display: inline-block;
  width: 199px;
  height: 19px;
}
.cht-vi-siu4,
.o-p-xut4,
.phi-ni-l4,
.shop-uy-tn4 {
  top: 1219px;
  display: flex;
  align-items: center;
  width: 369px;
  height: 21px;
}
.cht-vi-siu4,
.phi-ni-l4,
.shop-uy-tn4 {
  top: 1341px;
}
.phi-ni-l4,
.shop-uy-tn4 {
  top: 1463px;
}
.shop-uy-tn4 {
  top: 1585px;
}
.chi-tit-o-ba-l-child44 {
  position: absolute;
  top: 1064px;
  left: 811px;
  background-color: var(--color-white);
  border: 2px solid var(--color-teal-200);
  box-sizing: border-box;
  width: 485px;
  height: 538px;
}
.pngtreeshiny-yellow-star-icon160 {
  position: absolute;
  top: 0;
  left: 237px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon161,
.pngtreeshiny-yellow-star-icon162 {
  position: absolute;
  top: 0;
  left: 257.6px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon162 {
  left: 278.3px;
}
.pngtreeshiny-yellow-star-icon163,
.pngtreeshiny-yellow-star-icon164 {
  position: absolute;
  top: 0;
  left: 298.9px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon164 {
  left: 319.5px;
}
.pngtreeshiny-yellow-star-icon165,
.pngtreeshiny-yellow-star-icon166 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon166 {
  left: 29px;
}
.pngtreeshiny-yellow-star-icon167,
.pngtreeshiny-yellow-star-icon168 {
  position: absolute;
  top: 0;
  left: 46px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon168 {
  left: 75px;
}
.pngtreeshiny-yellow-star-icon169,
.pngtreeshiny-yellow-star-icon170 {
  position: absolute;
  top: 0;
  left: 92px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon170 {
  left: 109px;
}
.pngtreeshiny-yellow-star-icon171,
.pngtreeshiny-yellow-star-icon172 {
  position: absolute;
  top: 0;
  left: 146px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon172 {
  left: 164px;
}
.pngtreeshiny-yellow-star-icon173,
.pngtreeshiny-yellow-star-icon174 {
  position: absolute;
  top: 0;
  left: 182px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon174 {
  left: 200px;
}
.pngtreeshiny-yellow-star-icon-parent22 {
  position: absolute;
  top: 1153px;
  left: 839px;
  width: 340.1px;
  height: 18px;
}
.email5,
.nh-gi-ca9,
.nhn-xt-ca4,
.thm-nh-gi4,
.tn4 {
  position: absolute;
  top: 1080px;
  left: 842px;
  font-size: var(--font-size-xl);
  display: flex;
  align-items: center;
  width: 159px;
  height: 31px;
}
.email5,
.nh-gi-ca9,
.nhn-xt-ca4,
.tn4 {
  top: 1111px;
  font-size: var(--font-size-mini);
}
.email5,
.nhn-xt-ca4,
.tn4 {
  top: 1178px;
}
.email5,
.tn4 {
  top: 1341px;
}
.email5 {
  left: 1069px;
}
.chi-tit-o-ba-l-child45,
.chi-tit-o-ba-l-child46,
.chi-tit-o-ba-l-child47,
.chi-tit-o-ba-l-child48 {
  position: absolute;
  left: 842px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
}
.chi-tit-o-ba-l-child45 {
  top: 1211px;
  border-radius: var(--br-5xs);
  width: 421px;
  height: 111px;
}
.chi-tit-o-ba-l-child46,
.chi-tit-o-ba-l-child47,
.chi-tit-o-ba-l-child48 {
  top: 1373px;
  width: 197px;
  height: 36px;
}
.chi-tit-o-ba-l-child47,
.chi-tit-o-ba-l-child48 {
  left: 1069px;
}
.chi-tit-o-ba-l-child48 {
  top: 1438px;
  left: 845px;
  border-radius: var(--br-11xs);
  width: 11px;
  height: 11px;
}
.lu-tn-ca4,
.ny-cho-ln4 {
  position: absolute;
  top: 1433px;
  left: 869px;
  font-size: var(--font-size-mini);
  display: flex;
  align-items: center;
  width: 386px;
  height: 21px;
}
.ny-cho-ln4 {
  top: 1465px;
  left: 842px;
}
.chi-tit-o-ba-l-child49 {
  position: absolute;
  top: 1496px;
  left: 841px;
  background-color: var(--color-teal-200);
  width: 87px;
  height: 36px;
}
.gi-i4 {
  position: absolute;
  top: 1499px;
  left: 843px;
  font-size: var(--font-size-mini);
  display: flex;
  color: var(--color-white);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 32px;
}
.group-child102 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 1440px;
  height: 89px;
}
.logo-mixi-tt-1-icon14 {
  position: absolute;
  top: 18px;
  left: 17px;
  width: 89px;
  height: 53px;
  object-fit: cover;
  cursor: pointer;
}
.home27 {
  position: absolute;
  top: -23px;
  left: -86px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.home-wrapper25 {
  overflow: hidden;
}
.frame-wrapper190,
.frame-wrapper191,
.frame-wrapper192,
.home-wrapper25 {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 14px;
}
.frame-wrapper190,
.frame-wrapper191 {
  top: 8px;
  left: 4px;
}
.frame-wrapper190 {
  top: -9px;
  width: 69px;
  height: 34px;
}
.danh-mc-sn21,
.frame-wrapper189 {
  position: absolute;
  top: 39px;
  left: 301px;
  width: 77px;
  height: 29px;
  cursor: pointer;
}
.danh-mc-sn21 {
  top: -15px;
  left: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.danh-mc-sn-phm-wrapper12 {
  position: absolute;
  top: 0;
  left: -16px;
  width: 221px;
  height: 34px;
  overflow: hidden;
}
.frame-wrapper193,
.thng-bo14 {
  position: absolute;
  top: 30px;
  left: 454px;
  width: 189px;
  height: 30px;
}
.thng-bo14 {
  top: -13px;
  left: -55px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.frame-child11,
.thng-bo-wrapper12 {
  position: absolute;
  top: 28px;
  left: 720px;
  width: 123px;
  height: 32px;
  overflow: hidden;
}
.frame-child11 {
  top: 6px;
  left: 10px;
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.frame-wrapper194 {
  position: absolute;
  top: 5px;
  left: 1357px;
  width: 72px;
  height: 72px;
}
.paper-bag-icon14 {
  position: absolute;
  top: 24px;
  left: 1293px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  cursor: pointer;
}
.rectangle-parent100 {
  width: 1440px;
  position: relative;
  height: 89px;
}
.menu14 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-mid);
}
.male-user-icon34,
.trang-ch12 {
  position: absolute;
  cursor: pointer;
}
.male-user-icon34 {
  top: 17px;
  left: 1355px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.trang-ch12 {
  top: 129px;
  left: 106px;
  font-size: var(--font-size-4xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 14px;
}
.chi-tit-o-ba-l-child50 {
  position: absolute;
  top: 131px;
  left: 166px;
  width: 3px;
  height: 8px;
  object-fit: contain;
}
.ca-hng12 {
  top: 131px;
  left: 163px;
  font-size: var(--font-size-3xs);
  white-space: pre-wrap;
  width: 77px;
  height: 12px;
  cursor: pointer;
}
.ca-hng12,
.home28,
.o-ba-l62 {
  position: absolute;
  display: flex;
  align-items: center;
}
.o-ba-l62 {
  top: 131px;
  left: 242px;
  font-size: var(--font-size-3xs);
  width: 59px;
  height: 12px;
  cursor: pointer;
}
.home28 {
  top: -5px;
  left: -60px;
  justify-content: center;
  width: 170px;
  height: 30px;
}
.home-wrapper26 {
  position: absolute;
  top: 35px;
  left: 315px;
  width: 49px;
  height: 21px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-mid);
}
.chi-tit-o-ba-l3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2019px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-arial);
}
