.group-child66 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  border: 2px solid var(--color-gray);
  box-sizing: border-box;
  width: 1440px;
  height: 345px;
}
.v-chng-ti15 {
  letter-spacing: 0.01em;
}
.v-chng-ti14 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.website-chnh-thc7 {
  margin: 0;
  font-size: var(--font-size-lgi);
  letter-spacing: -0.01em;
  line-height: 121.06%;
  font-weight: 300;
}
.v-chng-ti-container7 {
  position: absolute;
  top: 53px;
  left: 55px;
  color: var(--color-black);
  display: inline-block;
  width: 371px;
  height: 292px;
  font-size: var(--font-size-6xl);
}
.thng-tin15 {
  margin-block-start: 0;
  margin-block-end: 11px;
}
.thng-tin14 {
  position: absolute;
  top: 53px;
  left: 725px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  color: var(--color-black);
  width: 350px;
  height: 40px;
}
.blank-line223 {
  margin-block-start: 0;
  margin-block-end: 2px;
  font-size: var(--font-size-lgi);
}
.mi-thc-mc7 {
  font-weight: 300;
}
.fanpage-v-instagram14 {
  margin: 0;
}
.mi-thc-mc-container7 {
  position: absolute;
  top: 58px;
  left: 990px;
  letter-spacing: 0.03em;
  line-height: 121.25%;
  color: var(--color-black);
  display: inline-block;
  width: 395px;
  height: 296px;
  font-size: var(--font-size-6xl);
}
.blank-line224 {
  margin: 0;
  font-size: var(--font-size-8xl);
  font-weight: 300;
}
.danh-mc-sn-container7,
.h-tr7 {
  position: absolute;
  top: 53px;
  left: 418px;
  color: var(--color-black);
  display: inline-block;
  width: 350px;
  height: 40px;
  font-size: var(--font-size-6xl);
}
.h-tr7 {
  left: 993px;
}
.o-ba-l37 {
  margin-bottom: 10px;
}
.o-ba-l36 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-ba-l-container22 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  display: inline-block;
  width: 302px;
  height: 35px;
  cursor: pointer;
}
.frame-wrapper93,
.o-ba-l-wrapper12 {
  position: absolute;
  top: 0;
  left: -9px;
  width: 111px;
  height: 26px;
  overflow: hidden;
}
.frame-wrapper93 {
  top: 145px;
  left: 426px;
  width: 108px;
  cursor: pointer;
}
.lu-nim-mixi-container15 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  display: inline-block;
  width: 302px;
  height: 35px;
}
.frame-wrapper94,
.lu-nim-mixi-wrapper12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 198px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper94 {
  top: 187px;
  left: 417px;
  width: 193px;
}
.frame-wrapper95,
.o-refund-gaming-wrapper12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 214px;
  height: 28px;
  overflow: hidden;
}
.frame-wrapper95 {
  top: 229px;
  left: 417px;
  cursor: pointer;
}
.frame-wrapper96,
.o-csgo-wrapper12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 123px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper96 {
  top: 271px;
  left: 417px;
  cursor: pointer;
}
.chnh-sch-bo-container7,
.gii-thiu14,
.iu-khon14,
.o-mixi48,
.sitemap14 {
  position: absolute;
  top: 103px;
  left: 717px;
  font-weight: 300;
  display: inline-block;
  width: 295px;
  height: 35px;
}
.chnh-sch-bo-container7,
.iu-khon14,
.o-mixi48,
.sitemap14 {
  top: 145px;
}
.iu-khon14,
.o-mixi48,
.sitemap14 {
  top: 187px;
}
.o-mixi48,
.sitemap14 {
  top: 229px;
}
.o-mixi48 {
  top: 0;
  left: 0;
  width: 110px;
  cursor: pointer;
}
.frame-wrapper97,
.o-mixi-wrapper12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper97 {
  top: 103px;
  left: 418px;
}
.upward-arrow-icon7 {
  position: absolute;
  top: 271px;
  left: 1360px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}
.frame-wrapper91,
.rectangle-parent64,
.trang-lu-nim-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 354px;
}
.frame-wrapper91,
.trang-lu-nim-inner {
  height: 345px;
  overflow: hidden;
}
.trang-lu-nim-inner {
  top: 2142px;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-teal-200);
  font-family: var(--font-inter);
}
.lu-nim-mixi29,
.trang-ch7 {
  position: absolute;
  top: 99px;
  left: 106px;
  font-size: var(--font-size-xl);
  display: flex;
  text-align: left;
  align-items: center;
  width: 187px;
  height: 31px;
}
.trang-ch7 {
  top: 133px;
  left: 107px;
  font-size: var(--font-size-4xs);
  width: 56px;
  height: 14px;
  cursor: pointer;
}
.trang-lu-nim-child {
  position: absolute;
  top: 135px;
  left: 167px;
  width: 3px;
  height: 8px;
  object-fit: contain;
}
.ca-hng7,
.danh-mc-sn13,
.lu-nim-mixi30 {
  position: absolute;
  top: 135px;
  display: flex;
  text-align: left;
  align-items: center;
  height: 12px;
}
.ca-hng7 {
  left: 165px;
  white-space: pre-wrap;
  width: 76px;
  cursor: pointer;
}
.danh-mc-sn13,
.lu-nim-mixi30 {
  left: 243px;
  width: 91px;
}
.danh-mc-sn13 {
  top: 168px;
  left: 107px;
  font-size: var(--font-size-sm);
  width: 157px;
  height: 22px;
}
.trang-lu-nim-item {
  position: absolute;
  top: 198px;
  left: 106px;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 24px;
  height: 2px;
}
.o-pubg-wrapper5,
.o-pubg22 {
  position: absolute;
  height: 30px;
}
.o-pubg22 {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 94px;
}
.o-pubg-wrapper5 {
  top: 346px;
  left: 107px;
  width: 68px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-teal-200);
}
.o-refund-gaming18 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 220px;
  height: 30px;
}
.o-refund-gaming-wrapper13 {
  position: absolute;
  top: 389px;
  left: 107px;
  width: 143px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-teal-200);
}
.lu-nim-mixi31 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 162px;
  height: 30px;
}
.lu-nim-mixi-wrapper13 {
  position: absolute;
  top: 432px;
  left: 107px;
  width: 136px;
  height: 30px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
}
.trang-lu-nim-child1,
.trang-lu-nim-child2 {
  position: absolute;
  top: 636px;
  left: 486px;
  width: 262px;
  height: 352px;
  object-fit: cover;
}
.trang-lu-nim-child2 {
  top: 1104px;
}
.trang-lu-nim-child3,
.trang-lu-nim-child4,
.trang-lu-nim-child5,
.trang-lu-nim-child6 {
  position: absolute;
  top: 1572px;
  left: 486px;
  width: 262px;
  height: 352px;
  object-fit: cover;
}
.trang-lu-nim-child4,
.trang-lu-nim-child5,
.trang-lu-nim-child6 {
  left: 1078px;
}
.trang-lu-nim-child5,
.trang-lu-nim-child6 {
  top: 1104px;
  left: 782px;
}
.trang-lu-nim-child6 {
  left: 1078px;
}
.group-child67,
.trang-lu-nim-child7,
.trang-lu-nim-child8,
.trang-lu-nim-child9 {
  position: absolute;
  top: 636px;
  left: 782px;
  width: 262px;
  height: 352px;
  object-fit: cover;
}
.group-child67,
.trang-lu-nim-child8,
.trang-lu-nim-child9 {
  top: 168px;
  left: 1078px;
}
.group-child67,
.trang-lu-nim-child9 {
  top: 636px;
}
.group-child67 {
  top: 0;
  left: 0;
}
.lu-nim-mixi32 {
  margin-block-start: 0;
  margin-block-end: 8px;
}
.p57 {
  margin: 0;
  font-size: var(--font-size-lg);
}
.lu-nim-mixi-container16 {
  position: absolute;
  top: 364px;
  left: 0;
  display: inline-block;
  width: 261px;
  height: 92px;
}
.rectangle-parent65,
.rectangle-parent66 {
  position: absolute;
  width: 262px;
  height: 456px;
}
.rectangle-parent65 {
  top: 168px;
  left: 486px;
  cursor: pointer;
}
.rectangle-parent66 {
  top: 1572px;
  left: 782px;
}
.b-ghp-hnh-mixi-mixi-block-s {
  margin-block-start: 0;
  margin-block-end: 8px;
  font-size: var(--font-size-mid);
  color: var(--color-teal-200);
}
.lu-nim-mixi-container18 {
  position: absolute;
  top: 532px;
  left: 1078px;
  display: inline-block;
  width: 261px;
  height: 92px;
}
.lu-nim-mixi-container19,
.lu-nim-mixi-container20,
.lu-nim-mixi-container21 {
  position: absolute;
  top: 1000px;
  left: 486px;
  display: inline-block;
  width: 261px;
  height: 92px;
}
.lu-nim-mixi-container20,
.lu-nim-mixi-container21 {
  top: 1468px;
}
.lu-nim-mixi-container21 {
  left: 782px;
}
.rectangle-parent67 {
  position: absolute;
  top: 168px;
  left: 782px;
  width: 262px;
  height: 456px;
  cursor: pointer;
}
.lu-nim-mixi-container23,
.lu-nim-mixi-container24 {
  position: absolute;
  top: 1936px;
  left: 1078px;
  display: inline-block;
  width: 261px;
  height: 92px;
}
.lu-nim-mixi-container24 {
  top: 1468px;
}
.lu-nim-mixi-container25,
.lu-nim-mixi-container26,
.lu-nim-mixi-container27 {
  position: absolute;
  top: 1936px;
  left: 486px;
  display: inline-block;
  width: 261px;
  height: 92px;
}
.lu-nim-mixi-container26,
.lu-nim-mixi-container27 {
  top: 1000px;
  left: 782px;
}
.lu-nim-mixi-container27 {
  left: 1078px;
}
.group-child70 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 1440px;
  height: 89px;
}
.logo-mixi-tt-1-icon7 {
  position: absolute;
  top: 18px;
  left: 17px;
  width: 89px;
  height: 53px;
  object-fit: cover;
  cursor: pointer;
}
.home13 {
  position: absolute;
  top: -23px;
  left: -86px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.home-wrapper11 {
  overflow: hidden;
}
.frame-wrapper100,
.frame-wrapper101,
.frame-wrapper99,
.home-wrapper11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 14px;
}
.frame-wrapper100,
.frame-wrapper99 {
  top: 8px;
  left: 4px;
}
.frame-wrapper99 {
  top: -9px;
  width: 69px;
  height: 34px;
}
.danh-mc-sn14,
.frame-wrapper98 {
  position: absolute;
  top: 39px;
  left: 301px;
  width: 77px;
  height: 29px;
  cursor: pointer;
}
.danh-mc-sn14 {
  top: -15px;
  left: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.danh-mc-sn-phm-wrapper5 {
  position: absolute;
  top: 0;
  left: -16px;
  width: 221px;
  height: 34px;
  overflow: hidden;
}
.frame-wrapper102,
.thng-bo7 {
  position: absolute;
  top: 30px;
  left: 454px;
  width: 189px;
  height: 30px;
}
.thng-bo7 {
  top: -13px;
  left: -55px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.frame-child4,
.thng-bo-wrapper5 {
  position: absolute;
  top: 28px;
  left: 720px;
  width: 123px;
  height: 32px;
  overflow: hidden;
}
.frame-child4 {
  top: 6px;
  left: 10px;
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.frame-wrapper103,
.paper-bag-icon7 {
  position: absolute;
  top: 5px;
  left: 1357px;
  width: 72px;
  height: 72px;
}
.paper-bag-icon7 {
  top: 24px;
  left: 1293px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  cursor: pointer;
}
.rectangle-parent68 {
  width: 1440px;
  position: relative;
  height: 89px;
}
.menu7 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-mid);
}
.male-user-icon7 {
  position: absolute;
  top: 17px;
  left: 1355px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}
.home14 {
  position: absolute;
  top: -5px;
  left: -60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 30px;
}
.home-wrapper12 {
  position: absolute;
  top: 35px;
  left: 315px;
  width: 49px;
  height: 21px;
  overflow: hidden;
  cursor: pointer;
  font-size: var(--font-size-mid);
}
.o-ba-l-wrapper13,
.o-csgo-wrapper13,
.o-mixi-wrapper13 {
  position: absolute;
  top: 303px;
  left: 107px;
  width: 68px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-teal-200);
}
.o-ba-l-wrapper13,
.o-csgo-wrapper13 {
  top: 260px;
}
.o-ba-l-wrapper13 {
  top: 217px;
}
.trang-lu-nim {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2487px;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-arial);
}
