.group-child37 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  border: 2px solid var(--color-gray);
  box-sizing: border-box;
  width: 1440px;
  height: 345px;
}
.v-chng-ti5 {
  letter-spacing: 0.01em;
}
.v-chng-ti4 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.website-chnh-thc2 {
  margin: 0;
  font-size: var(--font-size-lgi);
  letter-spacing: -0.01em;
  line-height: 121.06%;
  font-weight: 300;
}
.v-chng-ti-container2 {
  position: absolute;
  top: 53px;
  left: 55px;
  color: var(--color-black);
  display: inline-block;
  width: 371px;
  height: 292px;
  font-size: var(--font-size-6xl);
}
.thng-tin5 {
  margin-block-start: 0;
  margin-block-end: 11px;
}
.thng-tin4 {
  position: absolute;
  top: 53px;
  left: 725px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  color: var(--color-black);
  width: 350px;
  height: 40px;
}
.blank-line198 {
  margin-block-start: 0;
  margin-block-end: 2px;
  font-size: var(--font-size-lgi);
}
.mi-thc-mc2 {
  font-weight: 300;
}
.fanpage-v-instagram4 {
  margin: 0;
}
.mi-thc-mc-container2 {
  position: absolute;
  top: 58px;
  left: 990px;
  letter-spacing: 0.03em;
  line-height: 121.25%;
  color: var(--color-black);
  display: inline-block;
  width: 395px;
  height: 296px;
  font-size: var(--font-size-6xl);
}
.blank-line199 {
  margin: 0;
  font-size: var(--font-size-8xl);
  font-weight: 300;
}
.danh-mc-sn-container2,
.h-tr2 {
  position: absolute;
  top: 53px;
  left: 418px;
  color: var(--color-black);
  display: inline-block;
  width: 350px;
  height: 40px;
  font-size: var(--font-size-6xl);
}
.h-tr2 {
  left: 993px;
}
.o-ba-l13 {
  margin-bottom: 10px;
}
.o-ba-l12 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-ba-l-container10 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  display: inline-block;
  width: 302px;
  height: 35px;
  cursor: pointer;
}
.frame-wrapper28,
.o-ba-l-wrapper2 {
  position: absolute;
  top: 0;
  left: -9px;
  width: 111px;
  height: 26px;
  overflow: hidden;
}
.frame-wrapper28 {
  top: 145px;
  left: 426px;
  width: 108px;
}
.lu-nim-mixi-container10 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  display: inline-block;
  width: 302px;
  height: 35px;
}
.frame-wrapper29,
.lu-nim-mixi-wrapper2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 198px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper29 {
  top: 187px;
  left: 417px;
  width: 193px;
  cursor: pointer;
}
.frame-wrapper30,
.o-refund-gaming-wrapper2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 214px;
  height: 28px;
  overflow: hidden;
}
.frame-wrapper30 {
  top: 229px;
  left: 417px;
  cursor: pointer;
}
.frame-wrapper31,
.o-csgo-wrapper2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 123px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper31 {
  top: 271px;
  left: 417px;
  cursor: pointer;
}
.chnh-sch-bo-container2,
.gii-thiu4,
.iu-khon4,
.o-mixi16,
.sitemap4 {
  position: absolute;
  top: 103px;
  left: 717px;
  font-weight: 300;
  display: inline-block;
  width: 295px;
  height: 35px;
}
.chnh-sch-bo-container2,
.iu-khon4,
.o-mixi16,
.sitemap4 {
  top: 145px;
}
.iu-khon4,
.o-mixi16,
.sitemap4 {
  top: 187px;
}
.o-mixi16,
.sitemap4 {
  top: 229px;
}
.o-mixi16 {
  top: 0;
  left: 0;
  width: 114px;
  cursor: pointer;
}
.frame-wrapper32,
.o-mixi-wrapper2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper32 {
  top: 103px;
  left: 418px;
}
.upward-arrow-icon2 {
  position: absolute;
  top: 271px;
  left: 1360px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}
.group-frame,
.rectangle-parent35,
.trang-o-ba-l-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 354px;
}
.group-frame,
.trang-o-ba-l-inner {
  height: 345px;
  overflow: hidden;
}
.trang-o-ba-l-inner {
  top: 1674px;
  font-size: var(--font-size-2xl);
  color: var(--color-teal-200);
  font-family: var(--font-inter);
}
.danh-mc-sn3,
.o-ba-l14 {
  position: absolute;
  top: 99px;
  left: 106px;
  font-size: var(--font-size-xl);
  display: flex;
  align-items: center;
  width: 100px;
  height: 31px;
}
.danh-mc-sn3 {
  top: 168px;
  left: 107px;
  font-size: var(--font-size-sm);
  width: 157px;
  height: 22px;
}
.trang-o-ba-l-child {
  position: absolute;
  top: 198px;
  left: 106px;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 24px;
  height: 2px;
}
.o-pubg-frame,
.o-pubg7 {
  position: absolute;
  height: 30px;
}
.o-pubg7 {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 94px;
}
.o-pubg-frame {
  top: 346px;
  left: 107px;
  width: 68px;
  overflow: hidden;
  cursor: pointer;
  font-size: var(--font-size-xs);
  color: var(--color-teal-200);
}
.o-refund-gaming5 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 220px;
  height: 30px;
}
.o-refund-gaming-wrapper3 {
  position: absolute;
  top: 389px;
  left: 107px;
  width: 127px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  font-size: var(--font-size-xs);
  color: var(--color-teal-200);
}
.lu-nim-mixi14 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 162px;
  height: 30px;
}
.lu-nim-mixi-wrapper3 {
  position: absolute;
  top: 432px;
  left: 107px;
  width: 114px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  font-size: var(--font-size-xs);
  color: var(--color-teal-200);
}
.group-child38 {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 352px;
  object-fit: cover;
}
.o-ba-l15 {
  margin-block-start: 0;
  margin-block-end: 8px;
}
.p24 {
  margin: 0;
  font-size: var(--font-size-lg);
}
.o-ba-l-container11 {
  position: absolute;
  top: 364px;
  left: 0;
  display: inline-block;
  width: 261px;
  height: 92px;
}
.rectangle-parent36 {
  position: absolute;
  top: 168px;
  left: 486px;
  width: 262px;
  height: 456px;
  cursor: pointer;
  text-align: center;
}
.o-ba-l-container12 {
  position: absolute;
  top: 364px;
  left: calc(50% - 131px);
  display: inline-block;
  width: 261px;
  height: 92px;
}
.rectangle-parent37,
.rectangle-parent38,
.rectangle-parent39,
.rectangle-parent40,
.rectangle-parent41 {
  position: absolute;
  top: 168px;
  left: 782px;
  width: 262px;
  height: 456px;
  cursor: pointer;
  text-align: center;
}
.rectangle-parent38,
.rectangle-parent39,
.rectangle-parent40,
.rectangle-parent41 {
  left: 1078px;
}
.rectangle-parent39,
.rectangle-parent40,
.rectangle-parent41 {
  top: 636px;
  left: 486px;
}
.rectangle-parent40,
.rectangle-parent41 {
  left: 782px;
}
.rectangle-parent41 {
  left: 1078px;
}
.o-ba-l-mixi-cht-p-siu-th {
  margin-block-start: 0;
  margin-block-end: 8px;
  font-size: var(--font-size-mid);
  color: var(--color-teal-200);
}
.rectangle-parent42 {
  position: absolute;
  top: 1104px;
  left: 486px;
  width: 262px;
  height: 456px;
  text-align: center;
}
.group-child45 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 1440px;
  height: 89px;
}
.logo-mixi-tt-1-icon2 {
  position: absolute;
  top: 18px;
  left: 17px;
  width: 89px;
  height: 53px;
  object-fit: cover;
  cursor: pointer;
}
.home3 {
  position: absolute;
  top: -23px;
  left: -86px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.home-wrapper1 {
  overflow: hidden;
}
.frame-wrapper34,
.frame-wrapper35,
.frame-wrapper36,
.home-wrapper1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 14px;
}
.frame-wrapper34,
.frame-wrapper35 {
  top: 8px;
  left: 4px;
}
.frame-wrapper34 {
  top: -9px;
  width: 69px;
  height: 34px;
}
.danh-mc-sn4,
.frame-wrapper33 {
  position: absolute;
  top: 39px;
  left: 301px;
  width: 77px;
  height: 29px;
  cursor: pointer;
}
.danh-mc-sn4 {
  top: -15px;
  left: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.danh-mc-sn-phm-frame {
  position: absolute;
  top: 0;
  left: -16px;
  width: 221px;
  height: 34px;
  overflow: hidden;
}
.frame-wrapper37,
.thng-bo2 {
  position: absolute;
  top: 30px;
  left: 454px;
  width: 189px;
  height: 30px;
}
.thng-bo2 {
  top: -13px;
  left: -55px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.frame-item,
.thng-bo-frame {
  position: absolute;
  top: 28px;
  left: 720px;
  width: 123px;
  height: 32px;
  overflow: hidden;
}
.frame-item {
  top: 6px;
  left: 10px;
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.frame-wrapper38,
.paper-bag-icon2 {
  position: absolute;
  top: 5px;
  left: 1357px;
  width: 72px;
  height: 72px;
}
.paper-bag-icon2 {
  top: 24px;
  left: 1293px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  cursor: pointer;
}
.rectangle-parent43 {
  width: 1440px;
  position: relative;
  height: 89px;
}
.menu2 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-mid);
}
.male-user-icon2,
.trang-ch2 {
  position: absolute;
  cursor: pointer;
}
.male-user-icon2 {
  top: 17px;
  left: 1355px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.trang-ch2 {
  top: 133px;
  left: 107px;
  font-size: var(--font-size-4xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 14px;
}
.trang-o-ba-l-item {
  position: absolute;
  top: 135px;
  left: 167px;
  width: 3px;
  height: 8px;
  object-fit: contain;
}
.ca-hng2,
.home4,
.o-ba-l22 {
  position: absolute;
  top: 135px;
  display: flex;
  align-items: center;
  height: 12px;
}
.ca-hng2 {
  left: 165px;
  white-space: pre-wrap;
  width: 76px;
  cursor: pointer;
}
.home4,
.o-ba-l22 {
  left: 243px;
  width: 91px;
}
.home4 {
  top: -5px;
  left: -60px;
  justify-content: center;
  width: 170px;
  height: 30px;
}
.home-wrapper2 {
  position: absolute;
  top: 35px;
  left: 315px;
  width: 49px;
  height: 21px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-mid);
}
.o-mixi-wrapper3 {
  top: 303px;
  font-size: var(--font-size-xs);
  color: var(--color-teal-200);
}
.o-ba-l-wrapper3,
.o-csgo-wrapper3,
.o-mixi-wrapper3 {
  position: absolute;
  left: 107px;
  width: 68px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.o-csgo-wrapper3 {
  top: 260px;
  font-size: var(--font-size-xs);
  color: var(--color-teal-200);
}
.o-ba-l-wrapper3 {
  top: 217px;
  font-size: var(--font-size-sm);
}
.trang-o-ba-l {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2019px;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-arial);
}
