.group-child49 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  border: 2px solid var(--color-gray);
  box-sizing: border-box;
  width: 1440px;
  height: 345px;
}
.v-chng-ti9 {
  letter-spacing: 0.01em;
}
.v-chng-ti8 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.website-chnh-thc4 {
  margin: 0;
  font-size: var(--font-size-lgi);
  letter-spacing: -0.01em;
  line-height: 121.06%;
  font-weight: 300;
}
.v-chng-ti-container4 {
  position: absolute;
  top: 53px;
  left: 55px;
  color: var(--color-black);
  display: inline-block;
  width: 371px;
  height: 292px;
  font-size: var(--font-size-6xl);
}
.thng-tin9 {
  margin-block-start: 0;
  margin-block-end: 11px;
}
.thng-tin8 {
  position: absolute;
  top: 53px;
  left: 725px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  color: var(--color-black);
  width: 350px;
  height: 40px;
}
.blank-line208 {
  margin-block-start: 0;
  margin-block-end: 2px;
  font-size: var(--font-size-lgi);
}
.mi-thc-mc4 {
  font-weight: 300;
}
.fanpage-v-instagram8 {
  margin: 0;
}
.mi-thc-mc-container4 {
  position: absolute;
  top: 58px;
  left: 990px;
  letter-spacing: 0.03em;
  line-height: 121.25%;
  color: var(--color-black);
  display: inline-block;
  width: 395px;
  height: 296px;
  font-size: var(--font-size-6xl);
}
.blank-line209 {
  margin: 0;
  font-size: var(--font-size-8xl);
  font-weight: 300;
}
.danh-mc-sn-container4,
.h-tr4 {
  position: absolute;
  top: 53px;
  left: 418px;
  color: var(--color-black);
  display: inline-block;
  width: 350px;
  height: 40px;
  font-size: var(--font-size-6xl);
}
.h-tr4 {
  left: 993px;
}
.o-ba-l28 {
  margin-bottom: 10px;
}
.o-ba-l27 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-ba-l-container19 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  display: inline-block;
  width: 302px;
  height: 35px;
  cursor: pointer;
}
.frame-wrapper54,
.o-ba-l-wrapper6 {
  position: absolute;
  top: 0;
  left: -9px;
  width: 111px;
  height: 26px;
  overflow: hidden;
}
.frame-wrapper54 {
  top: 145px;
  left: 426px;
  width: 108px;
  cursor: pointer;
}
.lu-nim-mixi-container12 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  display: inline-block;
  width: 302px;
  height: 35px;
}
.frame-wrapper55,
.lu-nim-mixi-wrapper6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 198px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper55 {
  top: 187px;
  left: 417px;
  width: 193px;
  cursor: pointer;
}
.frame-wrapper56,
.o-refund-gaming-wrapper6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 214px;
  height: 28px;
  overflow: hidden;
}
.frame-wrapper56 {
  top: 229px;
  left: 417px;
  cursor: pointer;
}
.frame-wrapper57,
.o-csgo-wrapper6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 123px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper57 {
  top: 271px;
  left: 417px;
  cursor: pointer;
}
.chnh-sch-bo-container4,
.gii-thiu8,
.iu-khon8,
.o-mixi24,
.sitemap8 {
  position: absolute;
  top: 103px;
  left: 717px;
  font-weight: 300;
  display: inline-block;
  width: 295px;
  height: 35px;
}
.chnh-sch-bo-container4,
.iu-khon8,
.o-mixi24,
.sitemap8 {
  top: 145px;
}
.iu-khon8,
.o-mixi24,
.sitemap8 {
  top: 187px;
}
.o-mixi24,
.sitemap8 {
  top: 229px;
}
.o-mixi24 {
  top: 0;
  left: 0;
  width: 116px;
}
.frame-wrapper58,
.o-mixi-wrapper6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 25px;
  overflow: hidden;
}
.frame-wrapper58 {
  top: 103px;
  left: 418px;
}
.upward-arrow-icon4 {
  position: absolute;
  top: 271px;
  left: 1360px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}
.frame-wrapper52,
.rectangle-parent47,
.trang-o-mixi-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 354px;
}
.frame-wrapper52,
.trang-o-mixi-inner {
  height: 345px;
  overflow: hidden;
}
.trang-o-mixi-inner {
  top: 2142px;
  font-size: var(--font-size-2xl);
  color: var(--color-teal-200);
  font-family: var(--font-inter);
}
.danh-mc-sn7,
.o-mixi27 {
  position: absolute;
  top: 99px;
  left: 106px;
  font-size: var(--font-size-xl);
  display: flex;
  align-items: center;
  width: 100px;
  height: 31px;
}
.danh-mc-sn7 {
  top: 168px;
  left: 107px;
  font-size: var(--font-size-sm);
  width: 157px;
  height: 22px;
}
.trang-o-mixi-child {
  position: absolute;
  top: 198px;
  left: 106px;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 24px;
  height: 2px;
}
.o-pubg-wrapper2,
.o-pubg9 {
  position: absolute;
  height: 30px;
}
.o-pubg9 {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 94px;
}
.o-pubg-wrapper2 {
  top: 346px;
  left: 107px;
  width: 68px;
  overflow: hidden;
  cursor: pointer;
  font-size: var(--font-size-xs);
  color: var(--color-teal-200);
}
.o-refund-gaming9 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 220px;
  height: 30px;
}
.o-refund-gaming-wrapper7 {
  position: absolute;
  top: 389px;
  left: 107px;
  width: 143px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  font-size: var(--font-size-xs);
  color: var(--color-teal-200);
}
.lu-nim-mixi20 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 162px;
  height: 30px;
}
.lu-nim-mixi-wrapper7 {
  position: absolute;
  top: 432px;
  left: 107px;
  width: 136px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  font-size: var(--font-size-xs);
  color: var(--color-teal-200);
}
.group-child50 {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 352px;
  object-fit: cover;
}
.o-mixi28 {
  margin-block-start: 0;
  margin-block-end: 8px;
}
.p38 {
  margin: 0;
  font-size: var(--font-size-lg);
}
.o-mixi-o-container7 {
  position: absolute;
  top: 364px;
  left: 0;
  display: inline-block;
  width: 261px;
  height: 92px;
}
.rectangle-parent48 {
  position: absolute;
  top: 168px;
  left: 782px;
  width: 262px;
  height: 456px;
  cursor: pointer;
  text-align: center;
}
.o-phng-mixi-trng {
  margin-block-start: 0;
  margin-block-end: 8px;
  font-size: var(--font-size-mid);
  color: var(--color-teal-200);
}
.rectangle-parent49 {
  position: absolute;
  top: 636px;
  left: 486px;
  width: 262px;
  height: 456px;
  text-align: center;
}
.o-mixi-o-container9 {
  position: absolute;
  top: 364px;
  left: 0;
  display: inline-block;
  width: 262px;
  height: 92px;
}
.rectangle-parent50,
.rectangle-parent51 {
  position: absolute;
  top: 636px;
  left: 782px;
  width: 262px;
  height: 456px;
  text-align: center;
}
.rectangle-parent51 {
  top: 1104px;
}
.rectangle-parent52,
.rectangle-parent53,
.rectangle-parent54,
.rectangle-parent55 {
  position: absolute;
  top: 1104px;
  left: 1078px;
  width: 262px;
  height: 456px;
  text-align: center;
}
.rectangle-parent53,
.rectangle-parent54,
.rectangle-parent55 {
  top: 636px;
}
.rectangle-parent54,
.rectangle-parent55 {
  top: 1104px;
  left: 486px;
}
.rectangle-parent55 {
  top: 168px;
  left: 485px;
  cursor: pointer;
}
.rectangle-parent56,
.rectangle-parent57 {
  position: absolute;
  top: 1572px;
  left: 486px;
  width: 262px;
  height: 456px;
  text-align: center;
}
.rectangle-parent57 {
  top: 168px;
  left: 1078px;
}
.group-child60 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 1440px;
  height: 89px;
}
.logo-mixi-tt-1-icon4 {
  position: absolute;
  top: 18px;
  left: 17px;
  width: 89px;
  height: 53px;
  object-fit: cover;
  cursor: pointer;
}
.home7 {
  position: absolute;
  top: -23px;
  left: -86px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.home-wrapper5 {
  overflow: hidden;
}
.frame-wrapper60,
.frame-wrapper61,
.frame-wrapper62,
.home-wrapper5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 14px;
}
.frame-wrapper60,
.frame-wrapper61 {
  top: 8px;
  left: 4px;
}
.frame-wrapper60 {
  top: -9px;
  width: 69px;
  height: 34px;
}
.danh-mc-sn8,
.frame-wrapper59 {
  position: absolute;
  top: 39px;
  left: 301px;
  width: 77px;
  height: 29px;
  cursor: pointer;
}
.danh-mc-sn8 {
  top: -15px;
  left: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.danh-mc-sn-phm-wrapper2 {
  position: absolute;
  top: 0;
  left: -16px;
  width: 221px;
  height: 34px;
  overflow: hidden;
}
.frame-wrapper63,
.thng-bo4 {
  position: absolute;
  top: 30px;
  left: 454px;
  width: 189px;
  height: 30px;
}
.thng-bo4 {
  top: -13px;
  left: -55px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 233px;
  height: 60px;
}
.frame-child1,
.thng-bo-wrapper2 {
  position: absolute;
  top: 28px;
  left: 720px;
  width: 123px;
  height: 32px;
  overflow: hidden;
}
.frame-child1 {
  top: 6px;
  left: 10px;
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.frame-wrapper64,
.paper-bag-icon4 {
  position: absolute;
  top: 5px;
  left: 1357px;
  width: 72px;
  height: 72px;
}
.paper-bag-icon4 {
  top: 24px;
  left: 1293px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  cursor: pointer;
}
.rectangle-parent58 {
  width: 1440px;
  position: relative;
  height: 89px;
}
.menu4 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-mid);
}
.male-user-icon4,
.trang-ch4 {
  position: absolute;
  cursor: pointer;
}
.male-user-icon4 {
  top: 17px;
  left: 1355px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.trang-ch4 {
  top: 133px;
  left: 107px;
  font-size: var(--font-size-4xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 14px;
}
.trang-o-mixi-item {
  position: absolute;
  top: 135px;
  left: 167px;
  width: 3px;
  height: 8px;
  object-fit: contain;
}
.ca-hng4,
.home8,
.o-mixi38 {
  position: absolute;
  top: 135px;
  display: flex;
  align-items: center;
  height: 12px;
}
.ca-hng4 {
  left: 165px;
  white-space: pre-wrap;
  width: 76px;
  cursor: pointer;
}
.home8,
.o-mixi38 {
  left: 243px;
  width: 91px;
}
.home8 {
  top: -5px;
  left: -60px;
  justify-content: center;
  width: 170px;
  height: 30px;
}
.home-wrapper6 {
  position: absolute;
  top: 35px;
  left: 315px;
  width: 49px;
  height: 21px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-mid);
}
.o-ba-l-wrapper7,
.o-csgo-wrapper7,
.o-mixi-wrapper7 {
  position: absolute;
  top: 303px;
  left: 107px;
  width: 68px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  font-size: var(--font-size-sm);
}
.o-ba-l-wrapper7,
.o-csgo-wrapper7 {
  top: 260px;
  font-size: var(--font-size-xs);
  color: var(--color-teal-200);
}
.o-ba-l-wrapper7 {
  top: 217px;
}
.trang-o-mixi {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2487px;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-arial);
}
